<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>Executive Dashboard</h3>
		</div>
		<div class="col-md-4">
			<div class="btn-group" *ngIf="!currentOrg">
				<label class="btn btn-primary" btnRadio="active" [(ngModel)]="organizationStatus" (ngModelChange)="loadSummaries()">Active</label>
				<label class="btn btn-primary" btnRadio="inactive" [(ngModel)]="organizationStatus" (ngModelChange)="loadSummaries()">Inactive</label>
				<label class="btn btn-primary" btnRadio="all" [(ngModel)]="organizationStatus" (ngModelChange)="loadSummaries()">All</label>
			</div>
			<a class="btn btn-default" (click)="exportData()">Export</a>
		</div>
	</div>
	<div class="row" *ngIf="!currentOrg; else orgDetails">
		<div class="col-xs-12">
			<table class="table" id="org-report-table" #summaryTable>
				<thead>
					<tr>
						<th>Name</th>
						<th>Contact</th>
						<th># campaigns</th>
						<th># charities</th>
						<th>Time saved</th>
						<th>Sales generated</th>
						<th>Donated</th>
						<th>Reach</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let org of summaries" [title]="org.id" (click)="loadDetails(org)">
						<td>{{org.name}}</td>
						<td>
							{{org.user ? org.user.firstName + " " + org.user.lastName : ''}}
						</td>
						<td>{{org.summary.numCampaigns | number:'1.0-0'}}</td>
						<td>{{org.summary.numCharities | number:'1.0-0'}}</td>
						<td>{{org.summary.timeSaved | number:'1.0-2'}} hours</td>
						<td>{{org.summary.totalSales | currency:'USD':'symbol'}}</td>
						<td>{{org.summary.totalDonations | currency:'USD':'symbol'}}</td>
						<td>{{org.summary.reach | number:'1.0-0'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<ng-template #orgDetails>
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>{{currentOrg.name}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center">
				<img *ngIf="currentOrg.logo;else noImage" [src]="currentOrg.logo" [alt]="currentOrg.name" style="max-height: 150px;" />
				<ng-template #noImage>
					<p class="no-image">
						No logo available
					</p>
				</ng-template>
			</div>
			<div class="col-md-9">
				<p>
					{{currentOrg.address}}<br>
					{{currentOrg.city}}, {{currentOrg.state}} {{currentOrg.zip}}<br>
					{{currentOrg.phoneNumber}} <br>
					<a [href]="currentOrg.website">{{currentOrg.website}}</a> <br>
					<a *ngIf="currentOrg.user" [href]="'mailto:' + currentOrg.user.email">
						{{currentOrg.user.firstName + " " + currentOrg.user.lastName}}
					</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h5>Campaigns</h5>
			</div>
			<div class="col-xs-12">
				<div id="charity-table" class="table-responsive">
					<table class="table table-hover" #detailsTable>
						<thead>
							<tr>
								<th>Charity</th>
								<th></th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Status</th>
								<th>Total Sales Generated</th>
								<th>Donations</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let campaign of currentOrg.campaigns">
								<td>{{campaign.charityName}}</td>
								<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
								<td>{{campaign.startDate  | date}}</td>
								<td>{{campaign.endDate  | date}}</td>
								<td>{{campaign.status}}</td>
								<td>{{campaign.resultingAmount | currency:'USD':true}}</td>
								<td>{{campaign.resultingAmount * (campaign.discountPercentage/100) | currency:'USD':true}}</td>
							</tr>
						</tbody>
					</table>
				</div><!--end of .table-responsive-->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<a class="btn btn-default" (click)="currentOrg = null">Go Back</a>
			</div>
		</div>
	</ng-template>
</div>
