#org-report-table {
	tbody tr {
		cursor: pointer;
	}
}

.no-image {
	font-family: "Courier New", monospace;
}

@media (min-width: 992px) {
	.no-image {
		transform: rotate(-45deg);
		margin-top: 25px;
	}
}
