ul.no-bullets {
  list-style: none;
  padding: 0;
}
.instructions {
  font-style: italic;
  font-size: 15px;
}
.clickable {
  cursor: pointer;
}
html,
body,
app-root {
  height: 100%;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand > img {
  display: inline-block;
}
@media (min-width: 768px) {
  .navbar-nav > li > .btn-group {
    padding-top: 8px;
  }
}
#page-content-wrapper {
  min-height: 100%;
  background-color: #f5f5f5;
  position: relative;
}
#page-content-wrapper > .container {
  background-color: #f5f5f5;
  height: 100%;
}
#header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333 !important;
  height: 70px !important;
  padding: 10px;
  z-index: 9999;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#header-container .logo-link {
  display: inline-block;
  margin: 0 0 0 75px;
}
#header-container .logo {
  display: block;
  max-width: 100%;
  max-height: 50px;
}
#header-container .current-organization-name {
  color: white;
  font-size: 0.8em;
  margin-bottom: -3px;
}
#footer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  height: 50px;
  padding: 10px;
  z-index: 9999;
  text-align: center;
}
#footer-container .logo {
  max-height: 50px;
  margin-right: 30px;
}
#footer-container p {
  color: #ccc;
  font-size: 1rem;
  margin: 0;
}
#wrapper.toggled #header-container {
  left: 220px;
}
#page-header > .row {
  background-color: #f2f2f2;
}
#page-header .page-title {
  margin: 10px 0;
  text-align: center;
  font-size: 2rem;
}
#page-body-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  background-color: #583e7e;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
  height: 100%;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li > a:before {
  background-color: #dd2222;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:hover > a:before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 20px;
}
.sidebar-nav li i:hover {
  color: white;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.sidebar-nav li h4 {
  border-bottom: 1px solid white;
}
.sidebar-nav li ul {
  padding-left: 30px;
}
.sidebar-nav li.open:hover before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 19px;
  width: 32px;
  z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: darkgray;
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: darkgray;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: darkgray;
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: darkgray;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: darkgray;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: darkgray;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.header-row {
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 7px solid #ccc;
}
.header-row img {
  width: 100%;
}
body {
  background-color: #f5f5f5;
  color: #333333;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3 {
  color: #333333;
  display: block;
  font-family: 'Poppins', helvetica, sans-serif;
}
h1 {
  font-size: 48px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}
h2 {
  font-size: 32px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}
p {
  color: #333333;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 1em;
  text-shadow: none;
}
a {
  color: #333333;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
a:hover,
a:focus {
  color: #dd2222;
  text-decoration: none;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: #333333;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus {
  text-decoration: none;
}
.dark {
  background-color: #333333;
}
.accented {
  background-color: #dd2222;
}
.dark h1,
.accented h1,
.alt-colors h1,
.dark h2,
.accented h2,
.alt-colors h2,
.dark h3,
.accented h3,
.alt-colors h3 {
  color: #ffffff;
}
.dark p,
.accented p,
.alt-colors p {
  color: #ffffff;
}
.dark a:not(.button),
.accented a:not(.button),
.alt-colors a:not(.button) {
  color: #333333;
}
.dark a:not(.button):hover,
.accented a:not(.button):hover,
.alt-colors a:not(.button):hover,
.dark a:not(.button):focus,
.accented a:not(.button):focus,
.alt-colors a:not(.button):focus {
  color: #dd2222;
}
.dark h1 a,
.accented h1 a,
.alt-colors h1 a,
.dark h2 a,
.accented h2 a,
.alt-colors h2 a,
.dark h3 a,
.accented h3 a,
.alt-colors h3 a,
.dark h4 a,
.accented h4 a,
.alt-colors h4 a {
  color: #333333;
}
img {
  max-width: 100%;
}
input,
textarea,
select {
  border: 1px solid #dd2222;
  font-family: 'Open Sans', helvetica, sans-serif;
  max-width: 100%;
  height: 32px;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 20px;
  color: #555;
  background-color: #fff;
  background-image: none;
}
.btn,
.btn-default,
input[type='submit'],
.button {
  background-color: #dd2222;
  border: 2px solid #dd2222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-family: 'Poppins', helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 15px auto;
  padding: 2px 10px;
  text-align: center;
  height: auto;
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.btn.small,
.btn-default.small,
input[type='submit'].small,
.button.small {
  font-size: 14px;
  margin: 7px auto;
  padding: 1px 3px;
}
.btn:hover,
.btn-default:hover,
input[type='submit']:hover,
.button:hover,
.btn:focus,
.btn-default:focus,
input[type='submit']:focus,
.button:focus,
.btn.active,
.btn-default.active,
input[type='submit'].active,
.button.active {
  background-color: #ffffff;
  border: 2px solid #dd2222;
  color: #dd2222;
  text-decoration: none;
}
.btn.disabled,
.btn-default.disabled,
input[type='submit'].disabled,
.button.disabled,
.btn[disabled],
.btn-default[disabled],
input[type='submit'][disabled],
.button[disabled],
.btn.disabled:hover,
.btn-default.disabled:hover,
input[type='submit'].disabled:hover,
.button.disabled:hover,
.btn[disabled]:hover,
.btn-default[disabled]:hover,
input[type='submit'][disabled]:hover,
.button[disabled]:hover,
.btn.disabled:focus,
.btn-default.disabled:focus,
input[type='submit'].disabled:focus,
.button.disabled:focus,
.btn[disabled]:focus,
.btn-default[disabled]:focus,
input[type='submit'][disabled]:focus,
.button[disabled]:focus {
  background-color: #dd2222;
  border: 2px solid #dd2222;
  color: #ffffff;
}
.btn.alt-colors,
.btn-default.alt-colors,
input[type='submit'].alt-colors,
.button.alt-colors {
  background-color: #c5cbd6;
  border: 2px solid #c5cbd6;
  color: #ffffff;
}
.btn.alt-colors:hover,
.btn-default.alt-colors:hover,
input[type='submit'].alt-colors:hover,
.button.alt-colors:hover,
.btn.alt-colors:focus,
.btn-default.alt-colors:focus,
input[type='submit'].alt-colors:focus,
.button.alt-colors:focus,
.btn.alt-colors.active,
.btn-default.alt-colors.active,
input[type='submit'].alt-colors.active,
.button.alt-colors.active {
  background-color: #ffffff;
  border: 2px solid #c5cbd6;
  color: #c5cbd6;
}
.btn.alt-colors.disabled,
.btn-default.alt-colors.disabled,
input[type='submit'].alt-colors.disabled,
.button.alt-colors.disabled,
.btn.alt-colors[disabled],
.btn-default.alt-colors[disabled],
input[type='submit'].alt-colors[disabled],
.button.alt-colors[disabled],
.btn.alt-colors.disabled:hover,
.btn-default.alt-colors.disabled:hover,
input[type='submit'].alt-colors.disabled:hover,
.button.alt-colors.disabled:hover,
.btn.alt-colors[disabled]:hover,
.btn-default.alt-colors[disabled]:hover,
input[type='submit'].alt-colors[disabled]:hover,
.button.alt-colors[disabled]:hover,
.btn.alt-colors.disabled:focus,
.btn-default.alt-colors.disabled:focus,
input[type='submit'].alt-colors.disabled:focus,
.button.alt-colors.disabled:focus,
.btn.alt-colors[disabled]:focus,
.btn-default.alt-colors[disabled]:focus,
input[type='submit'].alt-colors[disabled]:focus,
.button.alt-colors[disabled]:focus {
  background-color: #c5cbd6;
  border: 2px solid #c5cbd6;
  color: #ffffff;
}
.btn.cancel,
.btn-default.cancel,
input[type='submit'].cancel,
.button.cancel {
  background-color: #c5cbd6;
  border: 2px solid #c5cbd6;
  color: #333333;
}
.btn.cancel:hover,
.btn-default.cancel:hover,
input[type='submit'].cancel:hover,
.button.cancel:hover,
.btn.cancel:focus,
.btn-default.cancel:focus,
input[type='submit'].cancel:focus,
.button.cancel:focus,
.btn.cancel.active,
.btn-default.cancel.active,
input[type='submit'].cancel.active,
.button.cancel.active {
  background-color: #ffffff;
  border: 2px solid #c5cbd6;
  color: #333333;
}
.btn.cancel.disabled,
.btn-default.cancel.disabled,
input[type='submit'].cancel.disabled,
.button.cancel.disabled,
.btn.cancel[disabled],
.btn-default.cancel[disabled],
input[type='submit'].cancel[disabled],
.button.cancel[disabled],
.btn.cancel.disabled:hover,
.btn-default.cancel.disabled:hover,
input[type='submit'].cancel.disabled:hover,
.button.cancel.disabled:hover,
.btn.cancel[disabled]:hover,
.btn-default.cancel[disabled]:hover,
input[type='submit'].cancel[disabled]:hover,
.button.cancel[disabled]:hover,
.btn.cancel.disabled:focus,
.btn-default.cancel.disabled:focus,
input[type='submit'].cancel.disabled:focus,
.button.cancel.disabled:focus,
.btn.cancel[disabled]:focus,
.btn-default.cancel[disabled]:focus,
input[type='submit'].cancel[disabled]:focus,
.button.cancel[disabled]:focus {
  background-color: #c5cbd6;
  border: 2px solid #c5cbd6;
  color: #333333;
}
.btn.block-button,
.btn-default.block-button,
input[type='submit'].block-button,
.button.block-button {
  display: block;
  margin: 15px auto;
  padding: 5px;
  width: 200px;
  max-width: 100%;
}
.input-group-btn .btn,
.input-group-btn .btn-default,
.input-group-btn .input[type='submit'] {
  margin: 0;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid transparent;
}
textarea {
  height: auto;
}
.container-fluid > .container {
  max-width: 100%;
}
.container {
  max-width: 100%;
}
.row.spaced {
  margin-top: 30px;
  margin-bottom: 30px;
}
.clearfix:after,
.clearfix:before,
.tribe-clearfix:after,
.tribe-clearfix:before {
  border-spacing: 0 !important;
}
.block-link {
  display: block;
}
.center-content {
  text-align: center;
}
/*-------------------------*/
/*           Login         */
/*-------------------------*/
.login-wrapper {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 15px auto;
}
.login-wrapper p {
  font-size: 0.75em;
}
.login-wrapper #remember input {
  margin-top: 0;
  height: 24px;
}
/*------------------------------*/
/*          Logged Out          */
/*------------------------------*/
#page-content-wrapper.logged-out-content-wrapper {
  padding-top: 0;
}
#page-content-wrapper.logged-out-content-wrapper #header-container {
  height: auto !important;
  padding: 30px;
  position: relative;
}
#page-content-wrapper.logged-out-content-wrapper #header-container > .row > .container {
  width: 100%;
}
#page-content-wrapper.logged-out-content-wrapper #header-container .logo-link {
  margin: 0;
}
#page-content-wrapper.logged-out-content-wrapper #header-container .logo {
  max-height: 90px;
}
/*------------------------*/
/*          Home          */
/*------------------------*/
#page-content-wrapper.home-page-content-wrapper {
  padding-top: 0;
}
#page-content-wrapper.home-page-content-wrapper #header-container {
  position: absolute;
}
#page-content-wrapper.home-page-content-wrapper #header-container {
  background-color: transparent !important;
}
#page-content-wrapper.home-page-content-wrapper #header-container .logo {
  max-height: 140px;
}
#page-content-wrapper.home-page-content-wrapper #page-body-row {
  padding-top: 0;
}
#page-content-wrapper.home-page-content-wrapper .hamburger {
  position: absolute;
}
/*-----------------------*/
/*          Nav          */
/*-----------------------*/
.logged-out-nav {
  text-align: right;
  padding: 20px;
}
.logged-out-nav a {
  color: #ffffff;
  display: inline-block;
  font-family: 'Poppins', helvetica, sans-serif;
  padding: 15px 25px;
}
.logged-out-nav a:hover,
.logged-out-nav a:focus {
  color: #dd2222;
}
@media (max-width: 767px) {
  .logged-out-nav {
    text-align: center;
    padding: 0;
  }
  .logged-out-nav a {
    display: inline-block;
    padding: 5px 10px;
  }
}
.organization-selector .dropdown-toggle {
  background-color: darkgray;
  border-color: darkgray;
  color: white;
  font-size: 1.5rem;
  margin: 11px 0 0 0;
}
.organization-selector .dropdown-toggle:hover,
.organization-selector .dropdown-toggle:focus,
.organization-selector .dropdown-toggle.active {
  background-color: white;
  border-color: darkgray;
  color: darkgray;
}
