//////////
//Colors//
//////////
// Color hex codes
@primary-color: #ffffff;
@secondary-color: #333333;

//@primary-accent-color: #11ccaa; // Cyan
//@primary-accent-color: #cc3311; // Orange
@primary-accent-color: #dd2222; // Red

@secondary-accent-color: #ffffff;

@primary-text-color: #333333;
@secondary-text-color: #ffffff;

// Color assignments
@body-color: #f5f5f5;

@background-color: @secondary-color;
@secondary-background-color: @primary-accent-color;

@header-color: @secondary-color;

@nav-color: @secondary-color;
@nav-text-color: @primary-text-color;
@highlight-nav-color: @primary-accent-color;
@highlight-nav-text-color: @primary-text-color;

@footer-color: @secondary-color;

@title-color: @primary-text-color;
@secondary-title-color: @secondary-text-color;

@paragraph-color: @primary-text-color;
@secondary-paragraph-color: @secondary-text-color;

@button-color: @primary-accent-color;
@alt-button-color: #c5cbd6;
@secondary-button-color: @primary-color;

@link-color: @primary-text-color;
@highlight-link-color: @primary-accent-color;

@border-color: @primary-accent-color;
@secondary-border-color: @secondary-accent-color;



// Font assignments
@title-font: 'Poppins', helvetica, sans-serif;
@paragraph-font: 'Open Sans', helvetica, sans-serif;


///////////////
//LESS styles//
///////////////
.smooth() {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}

.button() {
	background-color: @button-color;
	border: 2px solid @button-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: @secondary-paragraph-color;
	display: inline-block;
	font-family: @title-font;
	font-size: 20px;
	line-height:20px;
	margin: 15px auto;
	padding: 2px 10px;
	text-align: center;
	height: auto;
	//width: 250px;
	//min-width: 125px;
	max-width: 100%;
	.smooth();

	&.small {
		font-size: 14px;
		margin: 7px auto;
		padding: 1px 3px;
	}

	&.large {
		//width: 400px;
	}

	&:hover, &:focus, &.active {
		background-color: @secondary-button-color;
		border: 2px solid @button-color;
		color: @button-color;
		text-decoration: none;
	}

	&.disabled, &[disabled] {
		&, &:hover, &:focus {
			background-color: @button-color;
			border: 2px solid @button-color;
			color: @secondary-paragraph-color;
		}
	}

	&.alt-colors {
		background-color: @alt-button-color;
		border: 2px solid @alt-button-color;
		color: @secondary-button-color;

		&:hover, &:focus, &.active {
			background-color: @secondary-button-color;
			border: 2px solid @alt-button-color;
			color: @alt-button-color;
		}

		&.disabled, &[disabled] {
			&, &:hover, &:focus {
				background-color: @alt-button-color;
				border: 2px solid @alt-button-color;
				color: @secondary-button-color;
			}
		}
	}

	&.cancel {
		background-color: @alt-button-color;
		border: 2px solid @alt-button-color;
		color: @paragraph-color;

		&:hover, &:focus, &.active {
			background-color: @secondary-paragraph-color;
			border: 2px solid @alt-button-color;
			color: @paragraph-color;
		}

		&.disabled, &[disabled] {
			&, &:hover, &:focus {
				background-color: @alt-button-color;
				border: 2px solid @alt-button-color;
				color: @paragraph-color;
			}
		}
	}

	&.block-button {
		display: block;
		margin: 15px auto;
		padding: 5px;
		width: 200px;
		max-width: 100%;
	}
}

ul.no-bullets {
	list-style: none;
	padding: 0;
}

.instructions {
	font-style: italic;
	font-size: 15px;
}

.clickable {
	cursor: pointer;
}

html, body, app-root {
	height: 100%;
}

.navbar {
	margin-bottom: 0;
}
.navbar-brand>img {
    display: inline-block;
}


@media (min-width: 768px) {
	.navbar-nav > li > .btn-group {
		padding-top: 8px;
	}
}

#page-content-wrapper {
	min-height: 100%;
	background-color: @body-color;
	position: relative;
}

#page-content-wrapper > .container {
	background-color: @body-color;
	height: 100%;
	//box-shadow: #555 3px 2px 4px;
}

#header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background-color: @header-color !important;
	height: 70px !important;
	padding: 10px;
	z-index: 9999;

	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

	.logo-link {
		display: inline-block;
		margin: 0 0 0 75px;
	}

	.logo {
		display: block;
		max-width: 100%;
		max-height: 50px;
	}

	.current-organization-name {
		color: white;
		font-size: .8em;
		margin-bottom: -3px;
	}
}

#footer-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: @footer-color;
	height: 50px;
	padding: 10px;
	z-index: 9999;

	text-align: center;

	.logo {
		max-height: 50px;
		margin-right: 30px;
	}

	p {
		color: #ccc;
		font-size: 1rem;
		margin: 0;
	}
}

#wrapper.toggled #header-container {
	left: 220px;
}

#page-header {
	& > .row {
		background-color: #f2f2f2;
	}

	.page-title {
		margin: 10px 0;
		text-align: center;
		font-size: 2rem;
	}
}

#page-body-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/

// BACKGROUND COLOR
@bg-color: #583e7e;

// TEXT COLOR
@text-color: #fff;

// SIDEBAR LINK COLOR VARIABLES
@side-color-1: #1a1a1a;
@side-color-2: darken(@side-color-3, 5%);
@side-color-3: darken(@side-color-4, 5%);
@side-color-4: @bg-color;
@side-color-5: lighten(@side-color-4, 5%);
@side-color-6: lighten(@side-color-5, 5%);
@side-color-7: lighten(@side-color-6, 5%);
@side-color-8: lighten(@side-color-7, 5%);
@side-color-9: lighten(@side-color-8, 5%);

// HAMBURGER COLOR
@hamburger-color-closed: darkgray;//fadeout(@text-color, 30);
@hamburger-color-open: darkgray;//@text-color;

// WIDTH VARIABLES
@width1: 220px;
@width2: 100px;
@full-width: 100%;

// HEIGHT VARIABLES
@full-height: 100%;

body {
	position: relative;
	overflow-x: hidden;
}
body,
html {
	height: @full-height;
	background-color: @bg-color;
}


.nav {
  .open>a {
      background-color: transparent;
  &:hover {
       background-color: transparent;
   }
  &:focus {
       background-color: transparent;
   }
  }
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding-left: 0;
	transition: all 0.5s ease;
	height: 100%;
}
#wrapper.toggled {
	padding-left: 220px;
    #sidebar-wrapper {
        width: @width1;
    }
    #page-content-wrapper {
        margin-right: -220px;
        position: absolute;
    }
}
#sidebar-wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	background: #1a1a1a;
	height: @full-height;
	left: 220px;
	margin-left: -220px;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.5s ease;
	width: 0;
	z-index: 1000;
  &::-webkit-scrollbar {
	 display: none;
 }
}
#page-content-wrapper {
	padding-top: 70px;
	padding-bottom: 50px;
	width: @full-width;
}


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: @width1;
    li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: @full-width;

        > a:before {
			background-color: @primary-accent-color;
             content: '';
             height: @full-height;
             left: 0;
             position: absolute;
             top: 0;
             transition: width .2s ease-in;
             width: 3px;
             z-index: -1;
         }

        &:hover {
			> a:before {
				transition: width .2s ease-in;
				width: @full-width;
			}
        }

        a {
            color: #dddddd;
            display: block;
            padding: 10px 15px 10px 30px;
            text-decoration: none;
        }

		i {
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 10px 15px;
			line-height: 20px;
			font-size: 20px;

			&:hover {
				color: white;
				.smooth();
			}
		}

		h4 {
			border-bottom: 1px solid white;
		}

		ul {
			padding-left: 30px;
		}
    }
    li.open {
      &:hover {
        before {
            transition: width .2s ease-in;
            width: @full-width;
        }
      }
    }
    .dropdown-menu {
        background-color: #222222;
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: @full-width;
    }
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
	font-size: 20px;
	height: 65px;
	line-height: 44px;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	background: transparent;
	border: none;
	display: block;
	height: 32px;
	margin-left: 15px;
	position: fixed;
	top: 19px;
	width: 32px;
	z-index: 999;

	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
	&:active {
		outline: none;
	}
}
.hamburger.is-closed {
  &:before {
       -webkit-transform: translate3d(0,0,0);
       -webkit-transition: all .35s ease-in-out;
       color: #ffffff;
       content: '';
       display: block;
       font-size: 14px;
       line-height: 32px;
       opacity: 0;
       text-align: center;
       width: @width2;
   }
  &:hover {
    before {
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
        display: block;
        opacity: 1;
    }
    .hamb-top {
        -webkit-transition: all .35s ease-in-out;
        top: 0;
    }
    .hamb-bottom {
        -webkit-transition: all .35s ease-in-out;
        bottom: 0;
    }
  }
  .hamb-top {
      -webkit-transition: all .35s ease-in-out;
      background-color: @hamburger-color-closed;
      top: 5px;
  }
  .hamb-middle {
      background-color: @hamburger-color-closed;
      margin-top: -2px;
      top: 50%;
  }
  .hamb-bottom {
      -webkit-transition: all .35s ease-in-out;
      background-color: @hamburger-color-closed;
      bottom: 5px;
  }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
	height: 4px;
	left: 0;
	position: absolute;
	width: @full-width;
}
.hamburger.is-open {
  .hamb-top {
      -webkit-transform: rotate(45deg);
      -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
      background-color: @hamburger-color-open;
      margin-top: -2px;
      top: 50%;
  }
  .hamb-middle {
      background-color: @hamburger-color-open;
      display: none;
  }
  .hamb-bottom {
      -webkit-transform: rotate(-45deg);
      -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  // background-color: #1a1a1a;
      background-color: @hamburger-color-open;
      margin-top: -2px;
      top: 50%;
  }
  &:before {
       -webkit-transform: translate3d(0,0,0);
       -webkit-transition: all .35s ease-in-out;
       color: #ffffff;
       content: '';
       display: block;
       font-size: 14px;
       line-height: 32px;
       opacity: 0;
       text-align: center;
       width: @width2;
   }
  &:hover {
    before {
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
        display: block;
        opacity: 1;
    }
  }
}



/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: @full-width;
	height: @full-height;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.4);
	z-index: 1;
}




.header-row {
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: 7px solid #ccc;

	img {
		width: 100%;
	}
}


body {
	background-color: @body-color;
	color: @paragraph-color;
	font-family: @paragraph-font;
	font-size: 16px;
}

h1, h2, h3 {
	color: @title-color;
	display: block;
	font-family: @title-font;
}

h1 {
	font-size: 48px;

	@media (max-width: 767px) {
		font-size: 28px;
	}
}

h2 {
	font-size: 32px;

	@media (max-width: 767px) {
		font-size: 24px;
	}
}

h3 {
	font-size: 24px;

	@media (max-width: 767px) {
		font-size: 20px;
	}
}

p {
	color: @paragraph-color;
	font-family: @paragraph-font;
	font-size: 1em;
	text-shadow: none;
}


a {
	color: @link-color;
	cursor: pointer;
	.smooth();

	&:hover, &:focus {
		color: @highlight-link-color;
		text-decoration: none;
	}
}

h1, h2, h3, h4 {
	a {
		color: @title-color;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.dark {
	background-color: @background-color;
}
.accented {
	background-color: @primary-accent-color;
}
.dark, .accented, .alt-colors {
	h1, h2, h3 {
		color: @secondary-title-color;
	}

	p {
		color: @secondary-paragraph-color;
	}

	a:not(.button) {
		color: @link-color;

		&:hover, &:focus {
			color: @highlight-link-color;
		}
	}

	h1, h2, h3, h4 {
		a {
			color: @title-color;
		}
	}
}

img {
	max-width: 100%;
}

input,
textarea,
select {
	border: 1px solid @border-color;
	font-family: @paragraph-font;
	max-width: 100%;
	//width: 100%;
	height: 32px;
	padding: 3px 6px;
	font-size: 16px;
	line-height: 20px;
	color: #555;
	background-color: #fff;
	background-image: none;
	//border-radius: 5px;
}

.btn,
.btn-default,
input[type='submit'],
.button {
	.button();
}

.input-group-btn {
	.btn, .btn-default, .input[type='submit'] {
		margin: 0;
		padding: 6px 12px;
		font-size: 14px;
		border: 1px solid transparent;
	}
}

textarea {
	height: auto;
}

.container-fluid > .container {
	max-width: 100%;
	//padding: 0;
}

.container {
	max-width: 100%;
}

.row.spaced {
	margin-top: 30px;
	margin-bottom: 30px;
}

.clearfix:after,
.clearfix:before,
.tribe-clearfix:after,
.tribe-clearfix:before {
	border-spacing: 0 !important;
}

.block-link {
	display: block;
}

.center-content {
	text-align: center;
}


/*-------------------------*/
/*           Login         */
/*-------------------------*/
.login-wrapper {
	display: block;
	width: 300px;
	max-width: 100%;
	margin: 15px auto;

	p {
		font-size: 0.75em;
	}

	#remember input {
		margin-top: 0;
		height: 24px;
	}
}



/*------------------------------*/
/*          Logged Out          */
/*------------------------------*/
#page-content-wrapper.logged-out-content-wrapper {
	padding-top: 0;

	#header-container {
		height: auto !important;
		padding: 30px;
		position: relative;

		> .row > .container {
			width: 100%;
		}

		.logo-link {
			margin: 0;
		}

		.logo {
			max-height: 90px;

		}
	}
}

/*------------------------*/
/*          Home          */
/*------------------------*/
#page-content-wrapper.home-page-content-wrapper {
	padding-top: 0;

	#header-container {
		position: absolute;
	}

	#header-container {
		background-color: transparent !important;

		.logo {
			max-height: 140px;
		}
	}

	#page-body-row {
		padding-top: 0;
	}

	.hamburger {
		position: absolute;
	}
}

/*-----------------------*/
/*          Nav          */
/*-----------------------*/
.logged-out-nav {
	text-align: right;
	padding: 20px;

	a {
		color: @secondary-paragraph-color;
		display: inline-block;
		font-family: @title-font;
		padding: 15px 25px;

		&:hover,
		&:focus{
			color: @highlight-link-color;
		}
	}
}

@media (max-width: 767px) {
	.logged-out-nav {
		text-align: center;
		padding: 0;

		a {
			display: inline-block;
			padding: 5px 10px;
		}
	}
}

.organization-selector {
	.dropdown-toggle {
		background-color: @hamburger-color-closed;
		border-color: @hamburger-color-closed;
		color: white;
		font-size: 1.5rem;
		margin: 11px 0 0 0;

		&:hover, &:focus, &.active {
			background-color: white;
			border-color: @hamburger-color-closed;
			color: @hamburger-color-closed;
		}
	}
}
