<div class="row"> <!--create a 2nd 10 col row to add new request line-->

	<div class="col-sm-10 col-sm-offset-1">
		<div class="box row">
			<div class="col-sm-12">
				<p class="instructions">Awesome! The next step is determining how often you want to receive notifications.</p>
				<p class="instructions">You can log in any time you want to see the "dashboard", but GiveShare will also send you an
					email indicating what new requests you've received as well as what closed campaigns need to be paid.</p>
				<br>
				<p>Select the Days of the Week you would like to receive notifications of new Campaign requests.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-offset-3 col-sm-6">
		<div class="button-group">
			<ul class="day-of-week-list">
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.SunNew" (ngModelChange)="onChange()"/>
					Sun
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.MonNew" (ngModelChange)="onChange()"/>
					Mon
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.TueNew" (ngModelChange)="onChange()"/>
					Tue
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.WedNew" (ngModelChange)="onChange()"/>
					Wed
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.ThurNew" (ngModelChange)="onChange()"/>
					Thu
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.FriNew" (ngModelChange)="onChange()"/>
					Fri
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.SatNew" (ngModelChange)="onChange()"/>
					Sat
				</label></li>
			</ul>
		</div><!--button group-->
	</div><!--container-->
	<div class="col-sm-offset-3 col-sm-6 text-right">
		<button type="button" class="btn btn-success" (click)="save()">Save</button>
		<!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
	</div>
</div>
