.day-of-week-list li input[type="checkbox"] {
        vertical-align: middle;
}
.day-of-week-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
}

