<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="highlight-wrapper">
				<div class="highlight-widget highlight-widgetg">
					<a class="btn" (click)="reqAction()">Requires Action</a>
					<p class="white">{{dbData.action}}</p>
				</div>
				<div class="highlight-widget highlight-widgetp">
					<h4>Review what's Open now</h4>
					<p class="white">{{dbData.review}}</p>
				</div>
				<div class="highlight-widget highlight-widgeto">
					<h4>Completed Campaigns</h4>
					<p class="white">{{dbData.completed}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
