.highlight-widgetg {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: green;
	text-align: center;
	position: relative;
}
.highlight-widgetg .btn {
	color: green;
}
.highlight-widgeto {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: orange;
	text-align: center;
	position: relative;
}
.highlight-widgeto .btn {
	color: orange;
}
.highlight-widgetr {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: red;
	text-align: center;
	position: relative;
}
.highlight-widgetr .btn {
	color: red;
}
.highlight-widgetb {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: blue;
	text-align: center;
	position: relative;
}
.highlight-widgetb .btn {
	color: blue;
}
.highlight-widgetpe {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: #d59d87;
	text-align: center;
	position: relative;
}
.highlight-widgetpe .btn {
	color: #d59d87;
}
.highlight-widgetp {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: purple;
	text-align: center;
	position: relative;
}
.highlight-widgetp .btn {
	color: purple;
}
.white {
	color: white;
}
.highlight-wrapper {
	display: flex;
}
