
<div class="row"> <!--create a 2nd 10 col row to add new request line-->
	<div class="col-sm-10 col-sm-offset-1">
		<div class="box row">
			<div class="col-sm-12">
				<br>
				<p class="instructions">We're getting there - just a few minutes left!! The next step is determining how often you
					want to receive notifications for expired campaigns to be paid and closed?</p><br>
				<p class="instructions">Survey says..........</p>
				<br>
				<p>Select the Days of the Week you would like to receive notifications of Completed Campaigns.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-6">
		<div class="button-group">
			<ul class="day-of-week-list">
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.SunClosed" (ngModelChange)="onChange()"/>
					Sun
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.MonClosed" (ngModelChange)="onChange()"/>
					Mon
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.TueClosed" (ngModelChange)="onChange()"/>
					Tue
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.WedClosed" (ngModelChange)="onChange()"/>
					Wed
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.ThurClosed" (ngModelChange)="onChange()"/>
					Thu
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.FriClosed" (ngModelChange)="onChange()"/>
					Fri
				</label></li>
				<li><label>
					<input type="checkbox" [(ngModel)]="organization.SatClosed" (ngModelChange)="onChange()"/>
					Sat
				</label></li>
			</ul>
		</div><!--button group-->
	</div><!--container-->
	<div class="col-sm-offset-3 col-sm-6 text-right">
		<button type="button" class="btn btn-success" (click)="save()">Save</button>
		<!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
	</div>
</div>
