<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="card card-container">
				<form class="form" (ngSubmit)="updateOrg()" #createForm="ngForm">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="slug">Landing Page Name</label>
							<p>This will be used to generate your landing page (e.g. http://giveshare.io/<i>{{organization.slug || "your_slug"}})</i></p>
							<p>Please note do NOT use spaces</p>
							<div class="input-group">
								<input type="text" id="slug" name="slug" [(ngModel)]="organization.slug"
									   placeholder="slug" class="form-control" required (change)="slugChanged()">
								<span class="input-group-addon" [title]="slugMessage">
									<i class="fa" [ngClass]="{'fa-check': isSlugValid, 'fa-times': !isSlugValid}"
									   [ngStyle]="{'color': (isSlugValid ? 'green' : 'red')}"></i>
								</span>
							</div>
						</div>

						<div class="form-group">
							<label for="website">Website</label>
							<input type="url" id="website" name="website" [(ngModel)]="organization.website"
								   placeholder="url" class="form-control">
						</div>

						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input type="tel" id="phone" name="phone" [(ngModel)]="organization.phoneNumber"
								   placeholder="#" class="form-control" required>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="logo">Logo</label>
						<img [src]="organization.logo" alt="Org Logo" *ngIf="organization.logo" class="org-logo" />
						<div>
							<input type="button" id="logo" name="logo" [value]="organization.logo ? 'Replace logo' : 'Upload logo'" class="btn btn-default" (click)="showPicker()" />
						</div>
					</div>
					<!--<div class="form-group col-sm-12">-->
						<!--<label for="terms">Terms and Conditions</label>-->
						<!--<textarea id="terms" name="terms" [(ngModel)]="organization.termsAndCond"-->
								  <!--placeholder="Terms and Conditions" class="form-control" required></textarea>-->
					<!--</div>-->
					<div class="col-sm-12">
						<button class="btn btn-lg btn-primary btn-signin" type="submit" [disabled]="isSlugValidationPending || !isSlugValid">
							Update Landing Page
						</button>
					</div>
				</form><!-- /form -->
			</div><!-- /card-container -->
		</div>
	</div>
</div><!-- /container -->
