<div class="container">
	<div class='user-list row'>
		<div *ngIf="displayError" class="alert alert-danger">
			{{displayError}}
		</div>
		<div *ngIf="displaySuccess" class="alert alert-success">
			{{displaySuccess}}
		</div>
		<form (ngSubmit)="search()" #searchForm="ngForm">
			<div class="input-group">
				<span class="input-group-addon"><i class='fa fa-search'></i></span>
				<input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchString" name="search" />
				<div class="input-group-btn">
					<button class="btn btn-primary" type="submit">Go!</button>
				</div>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of userList">
					<td>{{user.id}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td>
						<a class="btn btn-default" (click)="deleteUser(user)" title="Delete"><i class='fa fa-trash-o'></i></a>
						<a class="btn btn-default" (click)="resetPassword(user)" title="Reset Password"><i class="fa fa-undo"></i></a>
						<a class="btn btn-default" [routerLink]="user.id" title="Profile"><i class="fa fa-user"></i></a>
						<a class="btn btn-default" (click)="toggleAdminStatus(user)" title="Toggle Admin">
							<i class="fa" [ngClass]="{'fa-star': userIsAdmin(user), 'fa-star-o': !userIsAdmin(user)}"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
