<!DOCTYPE html>
<div class="container">
	<div *ngIf="!custCamp" class="row">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					<tr>
						<th width="100px">Charity</th>
						<th></th>
						<th>Request Date</th>
						<th>Status</th>
						<th>Description</th>
						<th>Default?</th>
						<th>Customize?</th>
						<th>Reject?</th>
					</tr>
					</thead>
					<tbody>

					<tr *ngFor="let campaign of campaigns">
						<td>{{campaign.charityName}}</td>
						<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
						<td>{{campaign.reqDate  | date}}</td>
						<td>{{campaign.status}}</td>
						<td>{{campaign.description}}</td>
						<td>
							<input type="radio" name="default" (click)="sendDefault(campaign)">
						</td>
						<td>
							<input type="radio" name="custom" (click)="setCustom(campaign)">
						</td>
						<td>
							<button name="custom" (click)="setRejected(campaign); $event.preventDefault()" title="Reject">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
					</tbody>
				</table>
				<br>
				<div class="col-sm-offset-10 col-sm-2">
					<button type="button" class="btn btn-success" (click)="goToExp()">Go to Expired</button>
					<!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
				</div>
			</div><!--end of .table-responsive-->
		</div>
	</div>

	<div class="row" *ngIf="custCamp">
		<div class="col-sm-6 col-sm-offset-4">
			<p> Looks like you want to customize this campaign!!</p>
			<br>
			<p> <strong> What new Percentage of Sales you want to donate </strong>

				<input type="number" class="days"   [(ngModel)]="orgDefVals.discount"
					   name="option-value"
					   placeholder=" "/>
			</p>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-4">
				<p> How long do you want this specific campaign to run for?</p><br>
				<p> <strong> Offer should remain valid for </strong>
					<input type="number" class="days"   [(ngModel)]="orgDefVals.daysgoodfor"
						   name="days-value"/>
					<label>  days after request</label></p>
			</div><!-- end of valid to row-->
		</div>

		<div class="row"> <!--create a row for valid to data-->
			<div class="col-sm-8">
			</div>
			<div class="col-sm-1">
				<button type="submit" class="btn blue-color" (click)="goBack()">Back</button> <!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn blue-color" (click)="sendCustom(campaign)">Send</button> <!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
			</div>
		</div>

	</div><!--save button row close-->


	<div class="row" *ngIf="organization.allowCustom === false">
		<p> You have selected to automatically post default offers.  Please go to the setup and change the value to "Allow Customized" if
			you wish to customize offers via this screen"</p>
	</div>
</div>
