<div class="card card-container">
	<div class="login-wrapper">
		<form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input type="email" id="inputEmail" name="email" [(ngModel)]="loginInfo.email"
					   class="form-control" placeholder="Email address" required autofocus>
			</div>
			<br>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" id="inputPassword" name="password" [(ngModel)]="loginInfo.password"
					   placeholder="Password" required class="form-control">
			</div>
			<div id="remember" class="checkbox">
				<label>
					<input type="checkbox" value="remember-me" [(ngModel)]="loginInfo.rememberMe" name="rememberMe"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
		</form><!-- /form -->
		<p><a href="#" class="forgot-password">Forgot password?</a></p>
		<p><a routerLink="/create" class="forgot-password">Create Account</a></p>
	</div>
</div><!-- /card-container -->
