<div class="row"> <!--create a 2nd 10 col row to add new request line-->
	<div class="col-sm-10 col-sm-offset-1">

		<div class="col-sm-12">
			<div class="button-group">
				<p class="instructions">Specify your valid from times below.  Note that if you want the invitation to be valid for an entire day,
					simply enter the opening hour and closing hour for the business that day.  To eliminate a day completely,
					leave all fields blank for that day.  Otherwise, you can set up to two time ranges per day.</p>
				<ul class="no-bullets">
					<li><label class="labelength">Sun  </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
					<li><label class="labelength">Mon  </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
					<li><label class="labelength">Tue  </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
					<li><label class="labelength">Wed  </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
					<li><label class="labelength">Thur </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
					<li><label class="labelength">Fri  </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
					<li><label class="labelength">Sat  </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat1FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat1ToTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold">as well as </label>
						<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat2FromTime" (ngModelChange)="onChange()"/></label>
						<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat2ToTime" (ngModelChange)="onChange()"/></label>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 text-right">
			<button type="submit" class="btn blue-color" (click)="save()">Save</button>
		</div>
	</div>
</div>
