.placeholder .placeholder-val {
	font-family: 'monospace';
}

hr {
	border-color: #cccccc;
	border-width: 4px;
}

input.form-control {
	display: inline-block !important;
	width: 100px;
}

input.days {
	width: 60px;
	text-align: center;
}

input.timelength {
	width:125px;
}

textarea {
	min-height: 200px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.labelength {
	width: 60px;
	font-size: 1.25em;
}
