<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="instructions">
			Below is the default content for the Terms and Conditions that will be sent
			with the invite to the Charity.  Please edit this to reflect any prohibited hours or other restrictions.  This will be
			displayed on the offer.
		</p>

		<div class="box">
			<textarea class="textarea" [(ngModel)]="organization.offerTC" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()"></textarea>
		</div><!--div for form-->

		<div class="row">
			<div class="col-sm-12 text-right">
				<button type="submit" class="btn btn-success blue-color" (click)="save()">Save</button>
			</div>
		</div>
	</div><!--4 col table for email message-->
</div><!--end of 10 column table-->
