h2 {
	text-align: center;
}

#charity-table {
	margin-top: 100px;
}

.hr-style {
	border-top: 3px double;
	size:50px;
	color:green;
	margin-left:175px;
}
.table {
	/*margin-left:275px;*/
	width: 100%;
	/*position: relative;*/
}
.white {
	color: white;
}
.header {
	position: fixed;
	display: block;
}
.my-fancy-container {
	display: inline-block;
	border: 3px solid black;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
}
.my-text {
	font-family: serif;
}
.my-icon {
	vertical-align: middle;
	font-size: 20px;
}
.navbar-fixed-left .navbar-nav {
	width: 100px;
	border-radius:0;
	color:gray;
	float: none; }
.navbar-fixed-left + .container {
	padding-left: 140px;
	left: 40px;
}
.titles {
	text-align:center;
	color:green;
	font-size:24px;
}
.logo {
	width:125px;
	height:125px;
	margin-top: 120px;
	margin-top: 40px;
	z-index: 100;
}
.sales {
	/*font-size:5px;*/
	font-family: serif;
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 15px;
	word-break: break-all;
}
.logo2 {
	width:125px;
	height:100px;
	margin-top: 40px;
	position:sticky;
}
.welcome {
	font-size: 24px;
	font-family: serif;
	color: black;
	text-align: center;
	margin-top: 40px;
	position:sticky;
}
.sales-font {
	font-size: 9px;
	position: relative;
	left: 11px ;
	bottom: 12px;
}
.sales-numbers{
	font-size: 9px;
	position: relative;
	left: 5px ;
	bottom: 60px;
}
.navbar{
	background-color: rgba(128, 128, 128, 0.29);
	margin: 15px;
}
.style1{
	border-top: 1px solid #8c8b8b;
	margin-top: 415px;
	margin-left:230px;
	margin-right:230px;
}
.btn-default {
	font-size: 15px;
	padding: 1%;
	border-radius: 10px;
	background-color: rgba(128, 128, 128, 0.29);
}
.col-sm-2 {
	left: 1px;
}
.table-caption {
	padding: .5em 0;
}
@media screen and (max-width: 767px) {
	.table-caption {
		border-bottom: 1px solid #ddd;
	}
}
.navbar-brand {
	color: white;
}

.spacer {
	height: 150px;
}
@media (max-width: 992px) {
	.spacer {
		height: 0;
	}
}

.highlight-table {
	border-spacing: 10px;
	border-collapse: separate;
}

.highlight-table th {
	border-bottom: 2px solid #d59d87;
	text-align: center;
	vertical-align: bottom;
}

.highlight-widget td {
	text-align: center;
}

.highlight-wrapper {
	display: flex;
}

.highlight-widget {
	flex: 1;
	margin: 7px;
	padding: 10px;
	background-color: #d59d87;
	text-align: center;
	position: relative;
}
.highlight-widgetg {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: green;
	text-align: center;
	position: relative;
}
.highlight-widgetg .btn {
	color: green;
}
.highlight-widgeto {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: orange;
	text-align: center;
	position: relative;
}
.highlight-widgeto .btn {
	color: orange;
}
.highlight-widgetr {
	 flex: 1;
	 margin: 7px;
	 color: white;
	 /*padding: 1px;*/
	 /*border-radius: 10px;*/
	 background-color: red;
	 text-align: center;
	 position: relative;
}
.highlight-widgetr .btn {
	color: red;
}
.highlight-widgetb {
	  flex: 1;
	  margin: 7px;
	  color: white;
	  /*padding: 1px;*/
	  /*border-radius: 10px;*/
	  background-color: blue;
	  text-align: center;
	  position: relative;
}
.highlight-widgetb .btn {
	color: blue;
}
.highlight-widgetpe {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: #d59d87;
	text-align: center;
	position: relative;
}
.highlight-widgetpe .btn {
	color: #d59d87;
}
.highlight-widgetp {
	flex: 1;
	margin: 7px;
	color: white;
	/*padding: 1px;*/
	/*border-radius: 10px;*/
	background-color: purple;
	text-align: center;
	position: relative;
}
.highlight-widgetp .btn {
	color: purple;
}

/*.highlight-widget:before {*/
	/*content: "/f0c2";*/
	/*font-family: FontAwesome;*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*text-decoration: inherit;*/
	/*color: #d59d87;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/

.highlight-widget h4 {
	margin: 0;
	height: 70px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.highlight-widget p {
	margin: 0;
	height: 30px;
	line-height: 30px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.highlight-widget .btn {
	background-color: white;
	border-color: white;
	margin-top: 0;
}
.highlight-widget .btn:hover,
.highlight-widget .btn:focus {
	background-color: white;
	border-color: white;
}

.highlight-widget i {
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}


.dashboard-highlight-wrapper .highlight-widget p {
	font-size: 2em;
}
