<div class="container">

<div class="row" *ngIf="dashboard">
	<div class="col-md-6 col-md-offset-3">
		<h2>Internal Value</h2>
		<div class="highlight-wrapper">
			<div class="highlight-widget highlight-widgetg">
				<h4>Total Sales Generated</h4>
				<p class="white">{{summary.totalSales | currency:'USD':true}}</p>
			</div>
			<div class="highlight-widget highlight-widgetp">
				<h4>Total Time Saved (h)</h4>
				<p class="white">{{summary.timeSaved}}</p>
			</div>
			<div class="highlight-widget highlight-widgeto">
				<h4>People Reached</h4>
				<p class="white">{{summary.reach}}</p>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="dashboard">
	<div class="col-md-6 col-md-offset-3">
		<div class="highlight-wrapper">
			<div class="highlight-widget highlight-widgetr">
				<h4>Local Partners Supported</h4>
				<p class="white">{{summary.numCharities}}</p>
			</div>
			<div class="highlight-widget highlight-widgetb">
				<h4># of Campaigns Supported</h4>
				<p class="white">{{summary.numCampaigns}}</p>
			</div>
			<div class="highlight-widget highlight-widgetpe">
				<h4>Total Donated to Date</h4>
				<p class="white">{{summary.totalDonations | currency:'USD':true}}</p>
			</div>
		</div>
		<h2>Community Impact</h2>
	</div>
</div>

<div class="row" *ngIf="report">
	<div class="col-xs-12">
		<div id="charity-table" class="table-responsive">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Charity</th>
					<th></th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
					<th>Total Sales Generated</th>
					<th>Donations</th>
					<th>Pay and Close?</th>
				</tr>
				</thead>
				<tbody>

				<tr *ngFor="let campaign of openCampaigns">
					<td>{{campaign.charityName}}</td>
					<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
					<td>{{campaign.startDate  | date}}</td>
					<td>{{campaign.endDate  | date}}</td>
					<td>{{campaign.status}}</td>
					<td>{{campaign.resultingAmount | currency:'USD':true}}</td>
					<td>{{campaign.resultingAmount * (campaign.discountPercentage/100) | currency:'USD':true}}</td>
					<td>
						<input *ngIf="campaign.status === 'expired'" type="radio" name="pay-and-close" (click)="payAndClose(campaign)">
					</td>
				</tr>
				</tbody>
			</table>
		</div><!--end of .table-responsive-->
	</div>
	<div class="row"> <!--create a row for valid to data-->
		<div class="col-sm-10">
		</div>
		<div class="col-sm-1">
			<button type="submit" class="btn blue-color" (click)="goBack()">Back</button> <!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
		</div>
	</div>
	<!--<footer class="container-fluid">-->
		<!--<button type="button" class="btn blue-color pull-right">Save</button>-->
		<!--<button type="button" class="btn blue-color pull-right" (click)="goBack()">Back</button>-->
	<!--</footer>-->
</div>

	<div class="container">

		<div class="row" *ngIf="dashboard">
			<div class="col-md-6 col-md-offset-3">
				<h2>DashBoard</h2>
				<div class="highlight-wrapper dashboard-highlight-wrapper">
					<div class="highlight-widget highlight-widgetg">
						<h4>Requires Action</h4>
						<p class="white clickable" (click)="reqAction()">
							<i class="fa fa-pencil"></i>
							{{dbData.action}}
						</p>
					</div>
					<div class="highlight-widget highlight-widgetp">
						<h4>Review what's Open now</h4>
						<p class="white clickable" (click)="openCamps()">
							<i class="fa fa-pencil"></i>
							{{dbData.review}}
						</p>
					</div>
					<div class="highlight-widget highlight-widgeto">
						<h4>Completed Campaigns</h4>
						<p class="white clickable" (click)="gotoReports()">
							<i class="fa fa-pencil "></i>
							{{dbData.completed}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
