<div class='container'>
	<div *ngIf="isLoggedIn()">
		You are logged in as {{getUserDisplayName()}}

		<div *ngIf="organizations && organizations.length">
			<h3>Your Organizations</h3>
			<ul *ngIf="organizations">
				<li *ngFor="let org of organizations">{{org.name}} - <a (click)="loginToOrg(org)">Use Organization</a></li>
			</ul>
		</div>

		<div *ngIf="organization">
			<h2>Links</h2>
			<p><a [routerLink]="['/home', organization.id]">Home</a></p>
			<p><a [routerLink]="['/user-edit', organization.id]">User Edits</a></p>
			<p><a [routerLink]="['/profile', organization.id]">Edit Profile</a> (TODO)</p>
			<p><a [routerLink]="['/', organization.slug]">Landing Page</a> (http://giveshare.io/{{organization.slug}})</p>
			<p><a [routerLink]="['/configure', organization.id]">Configure Landing Page</a></p>
			<p><a [routerLink]="['/offer-options', organization.id]">Setup</a></p>
			<p><a [routerLink]="['/Reporting', organization.id]">Reporting</a></p>
			<p><a [routerLink]="['/response-configuration', organization.id]">Configure Responses</a></p>
			<p><a routerLink="/respond/new">Review/send response (new)</a></p>
			<p><a routerLink="/respond/read">Review/send response (read)</a></p>
			<p><a routerLink="/respond/completed">Review/send response (completed)</a></p>
		</div>
	</div>
	<div *ngIf="!isLoggedIn()">
		<p>You are not logged in.</p>

		<p>
			<a class="btn btn-primary" routerLink="/login">Log In</a>
		</p>
	</div>
</div>
