<!DOCTYPE html>
<div class="row">

	<div class="col-sm-8"><!--start of table-->
		<table class="table">
			<tr>
				<th>Details</th>
				<th>Charity</th>
				<th></th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Address</th>
				<th>Status</th>
				<th>Total Sales</th>
				<th>Donation</th>
				<th>Pay and Close?</th>
			</tr>
			<!--need a separator line between the headers and content-->

			<tr *ngFor="let campaign of campaigns">
				<td><a (click)="detailScreen(campaign)" title="Details" class="btn btn-default"><i class="fa fa-pencil"></i> Details</a></td>
				<td>{{campaign.charityName}}</td>
				<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
				<td>{{campaign.startDate | date}}</td>
				<td>{{campaign.endDate | date}}</td>
				<td>{{campaign.mailingAddress}} {{campaign.mailingCity}}, {{campaign.mailingState}} {{campaign.mailingZip}}</td>
				<td>{{campaign.status}}</td>
				<td>{{campaign.resultingAmount | currency:'USD':true}}</td>
				<td>{{campaign.resultingAmount * (campaign.discountPercentage/100) | currency:'USD':true}}</td>
				<td>
					<input *ngIf="campaign.status === 'expired'" type="radio" name="pay-and-close" (click)="payAndClose(campaign)">
				</td>
			</tr>
		</table>
	</div> <!---->
</div><!--end of the combo nav bar and stars row-->

