
<!--div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li>
			<a href="#">Dashboard</a>
		</li>
		<li>
			<a href="#">Shortcuts</a>
		</li>
		<li>
			<a href="#">Overview</a>
		</li>
	</ul>
</div-->

<div id="wrapper" [ngClass]="{'toggled': !sideBarIsClosed}">
	<div class="overlay" *ngIf="!sideBarIsClosed"></div>

	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" *ngIf="isLoggedIn()">
		<ul class="nav sidebar-nav">
			<li *ngIf="isSuperuser()" (click)="showAdmin=!showAdmin">
				<a href="javascript:void(0)">Admin</a>
				<i class='fa' [ngClass]="{'fa-chevron-down': !showSetup, 'fa-chevron-up': showSetup}"></i>
			</li>
			<li *ngIf="isSuperuser() && showAdmin">
				<ul class="sidebar-subnav">
					<li><a class="admin-link" routerLink="admin/users" (click)="sideBarIsClosed = !sideBarIsClosed">Users</a></li>
					<li><a class="admin-link" routerLink="admin/dashboard" (click)="sideBarIsClosed = !sideBarIsClosed">Dashboard</a></li>
				</ul>
			</li>

			<li><a [routerLink]="['/home', organization.id]" (click)="sideBarIsClosed = !sideBarIsClosed">Home</a></li>
			<li><a [routerLink]="['/user-edit', organization.id]" (click)="sideBarIsClosed = !sideBarIsClosed">User Edits</a>
			<li><a [routerLink]="['/', organization.slug]" (click)="sideBarIsClosed = !sideBarIsClosed">View Landing Page</a></li>
			<li><a [routerLink]="['/configure', organization.id]" (click)="sideBarIsClosed = !sideBarIsClosed">Configure Landing Page</a></li>
			<li>
				<a [routerLink]="['/setup', organization.id]" (click)="sideBarIsClosed = !sideBarIsClosed">Setup</a>
				<i class='fa' [ngClass]="{'fa-chevron-down': !showSetup, 'fa-chevron-up': showSetup}" (click)="showSetup=!showSetup"></i>
			</li>
			<li *ngIf="showSetup">
				<ul class='sidebar-subnav'>
					<li><a [routerLink]="['/setup', organization.id, 'offer-options']" (click)="sideBarIsClosed = !sideBarIsClosed">Response Options</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'campaign-days']" (click)="sideBarIsClosed = !sideBarIsClosed">Notifications (New)</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'notification-schedule']" (click)="sideBarIsClosed = !sideBarIsClosed">Notification (Closed)</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'response-configuration']" (click)="sideBarIsClosed = !sideBarIsClosed">Offer Options</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'coupon-times']" (click)="sideBarIsClosed = !sideBarIsClosed">Offer Times</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'default-email']" (click)="sideBarIsClosed = !sideBarIsClosed">Charity Reply</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'terms-conditions']" (click)="sideBarIsClosed = !sideBarIsClosed">Terms and Conditions</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'social-media']" (click)="sideBarIsClosed = !sideBarIsClosed">Social Content</a></li>
					<li><a [routerLink]="['/setup', organization.id, 'default-email-supporter']" (click)="sideBarIsClosed = !sideBarIsClosed">Supporter Reply</a></li>
				</ul>
			</li>
			<li><a [href]="exportUrl" target="_blank" (click)="sideBarIsClosed = !sideBarIsClosed">Export Emails</a></li>
			<li><a [routerLink]="['/Reporting', organization.id]" (click)="sideBarIsClosed = !sideBarIsClosed">Reporting</a></li>

			<!-- House Settings -->
			<li *ngIf="isLoggedIn()"><a routerLink="/profile" (click)="sideBarIsClosed = !sideBarIsClosed">Profile</a></li>
			<li><a [routerLink]="['/subscription', organization.id]" (click)="sideBarIsClosed = !sideBarIsClosed">Subscription</a></li>
			<li><a routerLink="/create" (click)="sideBarIsClosed = !sideBarIsClosed">Add New Location</a></li>
			<li *ngIf="isLoggedIn()"><a class='logout-link' (click)="logout();sideBarIsClosed=true">Log Out</a></li>
			<li *ngIf="!isLoggedIn()"><a class='login-link' routerLink="/login">Log In</a></li>
		</ul>
	</nav>
	<!-- #sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper" [ngClass]="{'logged-out-content-wrapper': !isLoggedIn(), 'home-page-content-wrapper': isHomePage()}">
		<div id="header-container" class="container-fluid">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas" *ngIf="isLoggedIn()"
									(click)="sideBarIsClosed = !sideBarIsClosed" [ngClass]="{'is-closed': sideBarIsClosed, 'is-open': !sideBarIsClosed}">
								<span class="hamb-top"></span>
								<span class="hamb-middle"></span>
								<span class="hamb-bottom"></span>
							</button>

							<a routerLink="/" class="logo-link">
								<img class="logo"
									 src="https://res.cloudinary.com/sjcarlson98/image/upload/v1504017316/One%20five%20one/Logo.png"
									 alt="Logo" align="left">
							</a>
						</div>

						<div class="col-xs-6 col-sm-8" *ngIf="!isLoggedIn() && !isOnClientLandingPage && !isOnAccountLoginCreatePage || isHomePage()">
							<nav *ngIf="!isRedeemPage()" class="logged-out-nav">
								<a routerLink="/calculator">Calculator</a>
								<a routerLink="/contact">Contact</a>
								<a routerLink="/login">Login</a>
							</nav>
						</div>

						<div class="col-xs-6 col-sm-8" *ngIf="isLoggedIn() && !isHomePage() && organizations && organizations.length > 1" style="text-align: right;">
							<div class="current-organization-name">Current Organization: {{organization.name}}</div>
							<div class="btn-group organization-selector" dropdown>
								<button class="btn dropdown-toggle" type="button" id="orgSelectMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
									Switch organization <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" *dropdownMenu>
									<li *ngFor="let org of organizations" [ngClass]="{'current': org.id == organization.id}">
										<a (click)="changeOrg(org.id)">{{org.name}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="page-header" *ngIf="showHeader && isLoggedIn()">
			<div class="row header-row">
				<div class="col-sm-12">
					<p class="page-title">{{pageTitle}}</p>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row" *ngIf="isLoggedIn() && showSubscriptionBanner && !isHomePage()">
				<div class="alert alert-warning">
					<p style="text-align: center">
						<ng-template [ngIf]="organization.subscriptionRenewalDate" [ngIfElse]="noDate">
							It appears that your GiveShare subscription expired on {{organization.subscriptionRenewalDate | date}}.
						</ng-template>
						<ng-template #noDate>
							It appears that you haven't yet set up billing.
						</ng-template>
						<a class="btn btn-primary" [routerLink]="['/subscription', organization.id]">
							{{organization.subscriptionRenewalDate ? 'Renew' : 'Set up'}}
						</a>
					</p>
				</div>
			</div>
			<div class="row" id="page-body-row">
				<app-flash-message></app-flash-message>
				<!--h1>{{title}}</h1-->
				<router-outlet></router-outlet>
			</div>
		</div>

		<div id="footer-container" class="container-fluid">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<!--<img class="logo" src="http://res.cloudinary.com/sjcarlson98/image/upload/v1504017316/One%20five%20one/Logo.png" alt="Logo" align="left">-->
							<p>Copyright &copy; 2017 GiveShare.  All rights reserved.</p>
							<p>Patent Application 62617639 Pending</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
