
<div class="container">
	<div class="row" *ngIf="noDetails">

		<div class="col-sm-12"><!--start of search box-->
			<div class="box">
				<!--			<div class="pull-right col-md-4">{{searchVals | json}}</div>-->
				<form>
					<label class="names label-length">Search By</label><br><br>


					<div class="form-group row">
						<div class="col-sm-6">
							<label class="search label-length" for="charity">Charity:</label>
							<input [(ngModel)]="searchVals.name" class="smtxtbox form-control" type="text" id="charity" name="charity" placeholder="">
						</div>
						<div class="col-sm-6">
							<label class="search label-length" for="status">Status</label>
							<input class="smtxtbox form-control" list="status">

							<datalist id="status">
								<option value="Requested">
								<option value="Approved">
								<option value="Active">
								<option value="Expired">
								<option value="Closed">
							</datalist>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<label class="search label-length" for="sds">Start Date from: </label>
							<input [(ngModel)]="searchVals.startRangeStart" class="smtxtbox form-control" type="date" id="sds" name="sds" placeholder="">

							<label for="sde"> to </label>
							<input [(ngModel)]="searchVals.startRangeEnd" class="smtxtbox form-control" type="date" id="sde" name="sde" placeholder="">
						</div>
						<div class="col-sm-6">
							<label class="search label-length" for="eds"> End Date from: </label>
							<input [(ngModel)]="searchVals.endRangeStart" class="smtxtbox form-control" type="date" id="eds" name="eds" placeholder="">
							<label for="ede"> to </label>
							<input [(ngModel)]="searchVals.endRangeEnd" class="smtxtbox form-control" type="date" id="ede" name="ede" placeholder="">
						</div>
					</div>

					<div class="text-right">
						<input class="sub btn" type="submit" value="Search" (click)="searchCampaigns()">
					</div>
				</form>
			</div>
		</div><!--4 col-->
	</div>

	<div class="row" *ngIf="searched">

		<div class="col-sm-12"><!--start of table-->
			<table class="table">
				<tr>
					<th>Details</th>
					<th>Charity</th>
					<th></th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Status</th>
					<th>Total Sales</th>
					<th>Donation</th>
				</tr>
				<!--need a separator line between the headers and content-->

				<tr *ngFor="let campaign of campaigns">
					<td><a (click)="detailScreen(campaign)" title="Details" class="btn btn-default small"><i class="fa fa-pencil"></i> Details</a></td>
					<td>{{campaign.charityName}}</td>
					<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
					<td>{{campaign.startDate | date}}</td>
					<td>{{campaign.endDate | date}}</td>
					<td>{{campaign.status}}</td>
					<td>{{campaign.resultingAmount | currency:'USD':true}}</td>
					<td>{{campaign.resultingAmount * (campaign.discountPercentage/100) | currency:'USD':true}}</td>
				</tr>
			</table>
		</div> <!---->
	</div><!--end of the combo nav bar and stars row-->

	<div class="row" *ngIf="Details">

		<div class="col-sm-12"><!--start of table-->
			<table class="table" #redemptionListTable>
				<tr>
					<th class="hide-from-export">Edit Redemption</th>
					<th>Org. Name</th>
					<th>Charity</th>
					<th>email</th>
					<th>Redeem Date</th>
					<th>Total Bill</th>
					<th>Donation Amount</th>
				</tr>
				<!--need a separator line between the headers and content-->

				<tr *ngFor="let detail of details">
					<td class="hide-from-export"><a (click)="editRecord(detail)" title="Edit Record" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a></td>
					<td>{{detail.redeemingOrg ? detail.redeemingOrg.name : detail.organization?.name}}</td>
					<td>{{campaign.charityName}}</td>
					<td>{{detail.Email}}</td>
					<td>{{detail.RedeemedDate | date}}</td>
					<td>{{detail.TotalSales | currency:'USD':true}}</td>
					<td>{{detail.donationAmt | currency:'USD':true}}</td>
				</tr>

			</table>
		</div> <!---->
		<p>
			<a class="btn btn-default" href="javascript:void(0)" (click)="exportCSV(redemptionListTable)">Export Redemptions</a>
		</p>

	</div><!--end of the combo nav bar and stars row-->

	<div class="row" *ngIf="Details">
		<div class="col-sm-offset-10 col-sm-2">
			<a class="btn btn-default" (click)="goBack()">Back </a>
		</div>
	</div>

	<div class="row" *ngIf="editrec"><!--start of the user update fields form-->
		<div class="col-sm-offset-4 col-sm-4">
			<div class="box">
				<form class="form" (ngSubmit)="updateCoupon()" #createForm="ngForm">
					<label for="bill-amount">Total Bill Amount:   </label>
					<input type="number" id="bill-amount" class="form-control" name="bill-amount" [(ngModel)]="recDetails.TotalSales" required>

					<!--label for="party-size">Number of Guests Supporting Tonight:  </label>
					<input type="number" class="form-control" id="party-size" name="party-size" required [(ngModel)]="recDetails.TotalGuests"-->
					<br>
					<input class="sub btn" type="submit" value="Update">

					<a class="btn btn-default" (click)="goBacktoDets()">Back </a>
				</form>
			</div>

		</div><!--4 col-->

	</div><!--row for email data-->



</div>
