.fa { display:inline; }
th {
	text-align: left;
}

.hr-style {
	border-top: 3px double;
	size:50px;
	color:green;
	margin-left:175px;
}
.label-length {
	width: 115px;
}

.header {
	position: fixed;}
.my-fancy-container {
	display: inline-block;
	border: 3px solid black;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
}

.my-text {
	font-family: Calibri;
}

.my-icon {
	vertical-align: middle;
	font-size: 20px;
}
.navbar-fixed-left {
	width: 140px;
	position: fixed;
	border-radius: 0;
	color:gray;
	height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
	float: none;  /* Cancel default li float: left */
	width: 139px;
	color:gray;
}

.navbar-fixed-left + .container {
	padding-left: 160px;
	color:gray;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
	color:gray;
	margin-left: 140px;
}



input.form-control {
	display: inline-block;
	width: auto;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	vertical-align: middle;
}
