<div *ngIf="organization" class="container">
	<div class="row" *ngIf="organization.subscriptionRenewalDate; else noDate">
		<p>
			Your subscription {{isSubValid ? 'is valid through' : 'expired on'}} {{organization.subscriptionRenewalDate | date}}.
		</p>
		<p>
			To manage your credit card or other information related to your subscription,
			please go to your billing portal using the button below.
		</p>

		<a class="btn btn-primary" [href]="portalLink">Billing Portal</a>
	</div>
	<ng-template #noDate>
		<div class="row">
			<p class="text-center">
				You do not currently have an active subscription. Please finish your subscription below.
			</p>
		</div>
		<div class="row" id="pricing-row">
			<div class="col-sm-12 price-col" [ngClass]="{'selected': subscriptionSelection.getSelection() === 'monthly'}">
				<a class="btn btn-default" [href]="subscribeLinkMonthly" target="_blank">Subscribe</a>

			</div>
		</div>
	</ng-template>
</div>
