#pricing-row {
	text-align: center;
	.price-col {
		/*border-radius: 5px;
        margin: 0 30px;
        padding: 30px;
        background-color: #7a7a7a;*/

		&.selected {
			border: #11ccaa thin solid;
			box-shadow: #11ccaa 1px 1px 7px;
		}
	}
}
