<!DOCTYPE html>
<div class="container">
	<div class="row" *ngIf="noDetails">

		<div class="col-sm-12"><!--start of table-->
			<table class="table">
				<tr>
					<th>Details</th>
					<th>Charity</th>
					<th></th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Address</th>
					<th>Status</th>
					<th>Total Sales</th>
					<th>Donation</th>
					<th>Pay and Close?</th>
				</tr>
				<!--need a separator line between the headers and content-->

				<tr *ngFor="let campaign of campaigns">
					<td><a (click)="detailScreen(campaign)" title="Details" class="btn btn-default"><i class="fa fa-pencil"></i> Details</a></td>
					<td>{{campaign.charityName}}</td>
					<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
					<td>{{campaign.startDate | date}}</td>
					<td>{{campaign.endDate | date}}</td>
					<td>{{campaign.mailingAddress}} {{campaign.mailingCity}}, {{campaign.mailingState}} {{campaign.mailingZip}}</td>
					<td>{{campaign.status}}</td>
					<td>{{campaign.resultingAmount | currency:'USD':true}}</td>
					<td>{{campaign.resultingAmount * (campaign.discountPercentage/100) | currency:'USD':true}}</td>
					<td>
						<input *ngIf="campaign.status === 'expired'" type="radio" name="pay-and-close" (click)="payAndClose(campaign)">
					</td>
				</tr>
			</table>
		</div> <!---->
	</div><!--end of the combo nav bar and stars row-->

	<div class="row" *ngIf="Details">

		<div class="col-sm-12"><!--start of table-->
			<table class="table">
				<tr>
					<th>Edit Redemption</th>
					<th>Charity</th>
					<th>email</th>
					<th>Redeem Date</th>
					<th>Total Bill</th>
					<!--th># of guests</th-->
				</tr>
				<!--need a separator line between the headers and content-->

				<tr *ngFor="let detail of details">
					<td><a (click)="editRecord(detail)" title="Edit Record" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a></td>
					<td>{{campaign.charityName}}</td>
					<td>{{detail.Email}}</td>
					<td>{{detail.RedeemedDate | date}}</td>
					<td>{{detail.TotalSales | currency:'USD':true}}</td>
					<!--td>{{detail.TotalGuests}}</td-->
				</tr>

			</table>
		</div> <!---->

	</div><!--end of the combo nav bar and stars row-->

	<div class="row" *ngIf="Details">
		<div class="col-sm-offset-10 col-sm-2">
			<a class="btn btn-default" (click)="goBack()">Back </a>
		</div>
	</div>

	<div class="row" *ngIf="editrec"><!--start of the user update fields form-->
		<div class="col-sm-offset-4 col-sm-4">
			<div class="box">
				<form class="form" (ngSubmit)="updateCoupon()" #createForm="ngForm">
					<label for="bill-amount">Total Bill Amount:   </label>
					<input type="number" id="bill-amount" name="bill-amount" [(ngModel)]="recDetails.TotalSales" required>

					<!--label for="party-size">Number of Guests Supporting Tonight:  </label>
					<input type="number" class="form-control" id="party-size" name="party-size" required [(ngModel)]="recDetails.TotalGuests"-->
					<br>
					<input class="sub" type="submit" value="Update">

					<a class="btn btn-default" (click)="goBacktoDets()">Back </a>
				</form>
			</div>

		</div><!--4 col-->

	</div><!--row for email data-->

</div>
