<div class="row"> <!--create a row to choose offer config w 10 cols" -->

	<div class="col-sm-10 col-sm-offset-1">
		<div class="box row">
			<div class="col-sm-12">
				<p class="instructions"> GiveShare allows you to review and adjust all campaign requests.
					Or, GiveShare <strong>can</strong> simply send an automatic default offer when a request is submitted!!</p>
			</div>
			<div class="col-sm-6">
				<div class="radiobutton">
					<label for="my_radio_button_id"><br>Allow me to customize offers</label>
					<input type="radio" name="allow-custom" id="my_radio_button_id" [(ngModel)]="organization.allowCustom" [value]="true" (ngModelChange)="onChange()"/>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="radiobutton">
					<label for="my_radio_button_id3"><br>Always send default offers</label>
					<input type="radio" name="allow-custom" id="my_radio_button_id3" [(ngModel)]="organization.allowCustom" [value]="false" (ngModelChange)="onChange()"/>
				</div> <!--radio button-->
			</div><!--col for always send-->
			<br>
			<div class="col-sm-offset-10 col-sm-2">
				<button type="button" class="btn btn-success" (click)="save()">Save</button>
				<!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
			</div>
		</div><!--box wrapper-->
	</div><!--end of box and radio buttons-->
</div><!--end of row 2-->
