<div *ngIf="!outOfTimeMsg; else outOfTime" class="container">
	<form *ngIf="validate" class="form" (ngSubmit)="redCoupon()" #createForm="ngForm">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group">
					<label for="bill-amount">Total Bill Amount:   </label>
					<input type="number" class="form-control" id="bill-amount" name="bill-amount" [value]="details.TotalSales" [readonly]="true">
				</div>
			</div>
		</div>
		<!--div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group">
					<label for="party-size">Number of Guests Supporting Tonight:  </label>
					<input type="number" class="form-control" id="party-size" name="party-size" [value]="details.TotalGuests" [readonly]="true">
				</div>
			</div>
		</div-->
		<div class="row" *ngIf="!needMgrCode">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group">
					<label for="Rcode">Business Code: </label>
					<input [(ngModel)]="Passed.redemptionCode" type="text" class="form-control" id="Rcode" name="Rcode" required>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="needMgrCode">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group">
					<label for="Mcode">Manager Code: </label>
					<input [(ngModel)]="Passed.redemptionCode" type="text" class="form-control" id="Mcode" name="Mcode" required>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p class="fineprint">{{organization.offerTC}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 text-right">
				<input class="sub btn btn-primary" type="submit" value="Redeem!">
			</div>
		</div>
	</form>

	<form *ngIf="redeem" class="form" (ngSubmit)="checkValidity()" #createForm="ngForm">
		<div class = "row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group">
					<label for="bill-amount">Total Bill Amount:   </label>
					<input type="number" class="form-control" id="bill-amount2" name="bill-amount" min="0.00" [(ngModel)]="details.TotalSales" required>
				</div>
			</div>
		</div>
		<!--div class = "row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group">
					<label for="party-size">Number of Guests Supporting Tonight:  </label>
					<input type="number" class="form-control" id="party-size2" name="party-size" min="1" step="1" required [(ngModel)]="details.TotalGuests">
				</div>
			</div>
		</div-->

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<p class="fineprint">{{organization.offerTC}}</p>
			</div>
		</div>

		<div class = "row">
			<div class="col-sm-4 col-sm-offset-4 text-right">
				<input class="sub btn btn-primary" type="submit" value="Redeem!">
			</div>
		</div>
	</form>
</div>

<ng-template #outOfTime>
	<div id="hero-row" class="row dark has-background-image">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>This campaign is valid on {{daysValidString.join(', ')}} only.  Campaign expires {{campaign.endDate | date: 'mediumDate'}}.  Please join {{organization.name}} then to support {{campaign.charityName}}. Thank you!!</h3>
				</div>
			</div>
		</div>
	</div>
</ng-template>
