#hero-row {
	background-image: url('/assets/hero-image.jpg');
	padding-top: 250px;
	padding-bottom: 250px;
}
#hero-row h3 {
	line-height: 1.5em;
}
#hero-row .button {
	font-size: 1.5em;
	line-height: normal;
	width: 350px;
}

.has-background-image {
	background-position: center;
	background-size: cover;
	position: relative;
}
.has-background-image:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.5);
}
