.box {
	width: auto;
	height:auto;
	margin-top: 1px;
	padding: 12px 20px;
	border: 1px solid;
	border-color: black;
	align-content: center;

}
.insidebox {
	width: auto;
	min-width: 300px;
	min-height: 200px;
	height: auto;
	margin-top: 1px;
	padding: 12px 20px;
	border: 1px solid;
	border-color: white;
	text-align: center;
	align-content: center;
}

