<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form (submit)="reqCoupon()" class="form">
				<p>{{offerText}}</p>
				<div class="row">
					<div class="form-group col-xs-12">
						<label for="charity-name">Email my Coupon to: </label>
						<input type="email" class="form-control" id="charity-name" name="charity-name" required [(ngModel)]="emailAddr">
					</div>
				</div>

				<p class="text-muted small">
					By pressing Request, you are agreeing that your email address can be used in accordance with GiveShare's
					<a routerLink="/terms">Terms and Conditions</a>
				</p>
				<button class="btn btn-primary" type="submit" [disabled]="!emailAddr">Request</button>
			</form>
		</div>
	</div>
</div>
