<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p>
			  By accepting the terms and service, you are allowing GiveShare and its client(s) to send you emails at the address you have submitted. GiveShare will not share your email address. You can take your name out of the client’s email club at any time by following their unsubscribe policy upon receipt of any subsequent emails.
			</p>
		</div>
	</div>
</div>
