<div class="row" *ngIf="!editinvite">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="instructions">Below is the default content for the email response that will be sent to the requesting supporter.
			You can leave it as is, or edit your specific message to the supporter.</p>

		<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

		<div class="box content-box">
			<p>{{organization.defEmailContentInvite}}</p>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<button type="submit" class="btn btn-success blue-color" (click)="editInvite()">Edit</button>
			</div>
			<div class="col-sm-6 text-right">
				<button type="submit" class="btn btn-success blue-color" (click)="saveInvite()">Save</button>
			</div>
		</div>
	</div><!--4 col table for email message-->

</div><!--end of 10 column table-->

<div class="row" *ngIf="editinvite">
	<div class="col-sm-6 col-sm-offset-3">
		<p ngNonBindable class="instructions">Edit your content below. Please note that you MUST use the existing format for any field enclosed in
			double braces, ie <q>{{charity-name}}</q>. GiveShare will replace that with the charity's name in the email.</p>

		<div class="box">
			<textarea class="textarea" [(ngModel)]="organization.defEmailContentInvite" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()"></textarea>
			<div class="row">
				<div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveInvite()">Save</button>
				</div>
			</div>
		</div><!--div for form-->
		<!--<p>Note that using the {{charityname}} in the coupon template will convert to the campaign charity name in your actual coupons-->
		<!--as seen in the second example above.  Please do NOT use the "quotation marks" in your message, just the braces</p>-->

	</div><!--4 col table for default mobile message-->
</div>
