<div class="container" *ngIf="organization; else noOrg">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2" *ngIf="orgIsUpToDate; else deactiveOrg">
			<div style="text-align: center;">
				<img *ngIf="organization.logo" [src]="organization.logo" [alt]="organization.name" style="max-height: 150px;" />
			</div>
			<p class="text-center">
				{{organization.name}}<br>
				{{organization.address}}<br>
				{{organization.city}}, {{organization.state}} {{organization.zip}}<br>
				<a [href]="organization.website">{{organization.website}}</a>
			</p>

			<form (submit)="submitApplication()" #campaignForm="ngForm">

				<div class="form-group">
					<label for="charity-name">Charity Name</label>
					<input type="text" class="form-control" id="charity-name" name="charity-name" required [(ngModel)]="newCampaign.charityName">
				</div>

				<fieldset>

					<!-- Form Name -->
					<legend>Mailing Address</legend>

					<!-- Text input-->
					<div class="form-group row">
						<label class="col-sm-2 control-label" for="address">Address Line</label>
						<div class="col-sm-10">
							<input type="text" placeholder="Address Line 1" class="form-control"
								   id="address" name="address" [(ngModel)]="newCampaign.mailingAddress">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group row">
						<label class="col-sm-2 control-label" for="city">City</label>
						<div class="col-sm-10">
							<input type="text" placeholder="City" class="form-control"
								  id="city" name="city" [(ngModel)]="newCampaign.mailingCity">
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group row">
						<label class="col-sm-2 control-label" for="state">State</label>
						<div class="col-sm-4">
							<input type="text" placeholder="State" class="form-control"
								   id="state" name="state" [(ngModel)]="newCampaign.mailingState">
						</div>

						<label class="col-sm-2 control-label text-right" for="zip" style="padding-right: 5px;">Postcode</label>
						<div class="col-sm-4" style="padding-left: 5px;">
							<input type="text" placeholder="Post Code" class="form-control"
								   id="zip" name="zip" [(ngModel)]="newCampaign.mailingZip">
						</div>
					</div>

				</fieldset>

				<fieldset>
					<legend>Point of Contact</legend>

					<div class="form-group row">
						<label class="col-sm-2 control-label" for="charity-poc">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" placeholder="Name"
								   id="charity-poc" name="charity-poc" required [(ngModel)]="newCampaign.pointOfContactName">
						</div>

						<label class="col-sm-2 control-label" for="charity-poc-email">Email Address</label>
						<div class="col-sm-4">
							<input type="email" class="form-control" placeholder="Email"
								   id="charity-poc-email" name="charity-poc-email" required [(ngModel)]="newCampaign.pointOfContactEmail">
						</div>
					</div>
				</fieldset>

				<div class="form-group">
					<label for="campaign-description">Tell us about your cause</label>
					<textarea class="form-control" placeholder="Description of your cause"
						id="campaign-description" name="campaign-description" required [(ngModel)]="newCampaign.description"></textarea>
				</div>

				<div class="form-group">
					<label for="campaign-w9">W-9 Form <sub>(optional)</sub></label>
					<input type="text" class="form-control" id="campaign-w9" name="campaign-w9" [(ngModel)]="newCampaign.w9Reference">
				</div>

				<p class="small text-muted">{{organization.termsAndCond}}</p>

				<input type="submit" value="Submit" class="btn btn-primary" />
			</form>
		</div>
		<ng-template #deactiveOrg>
			<div class="col-sm-8 col-sm-offset-2" #deactiveOrg>
				<p>It appears {{organization.name}} is not currently using GiveShare. Please contact them if you were directed to this page.</p>
			</div>
		</ng-template>
	</div>
</div>
<ng-template #noOrg>
	<div class="container">
		<p>No organization found with that name.</p>
	</div>
</ng-template>
