<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					Next we will set the <strong>default </strong>donation percentage.  This can be adjusted for any "customized" campaigns.
					You can also come back later to change your default amount.
				</p>
				<p>
					<strong> Percentage of Sales you want to donate </strong>
					<input type="number" min="0" step="1" max="100" class="days form-control"   [(ngModel)]="organization.discountAmount"
						   (ngModelChange)="onChange()" name="option-value" placeholder="10"/>
				</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					How long do you want to run your default campaigns for?  This determines how long the coupon will be valid for.
					You can always come back and change the duration at any time,
					and all subsequent campaigns will absorb the new duration!</p>
				<p>
					<strong> Offer should remain valid for </strong>
					<input type="number" class="days form-control" min="1" step="1"   [(ngModel)]="organization.daysValid"
						   name="days-value" (ngModelChange)="onChange()"
						   placeholder="30"/>
					<label>  days after request</label>
				</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					GiveShare recommends allowing multiple redemptions per invitation – especially if you plan to run campaigns for more than 2-3 days.
				</p>

				<div class="row">
					<div class="col-sm-6">
						<div class="radiobutton">
							<label for="redemption_count_1">Unlimited Redemptions</label>
							<input type="radio" name="redemption_count" id="redemption_count_1"
								   [(ngModel)]="organization.allowMultipleRedeems" [value]="true" (click)="allowMultipleRedeems(true)" (ngModelChange)="onChange()"/>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="radiobutton">
							<label for="redemption_count_2">One redemption per invitation</label>
							<input type="radio" name="redemption_count" id="redemption_count_2"
								   [(ngModel)]="organization.allowMultipleRedeems" [value]="false" (click)="allowMultipleRedeems(false)" (ngModelChange)="onChange()"/>
						</div> <!--radio button-->
					</div><!--col for always send-->
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					A redemption code will be given to the customers by your team at the end of their transaction to validate the invitation (and prevent abuse).
				</p>
				<p>
					<strong>Set the restaurant's redemption code</strong>
					<input type="text" name="redcode" id="my_redcode" class="form-control" [(ngModel)]="organization.redemptionCode" (ngModelChange)="onChange()"/>
				</p>

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					Set a threshhold for the amount that can be redeemed without managerial approval.  This
					is designed to prevent abuse or mistakes.
				</p>
				<p>
					<strong>Ticket threshold</strong>
					<input type="text" name="redcode" id="my_thresh" class="form-control" [(ngModel)]="organization.threshHold" (ngModelChange)="onChange()"/>
				</p>

			</div>
		</div><!-- end of valid to row-->

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					A managerial override code will be needed if the manager needs to override a blocked redemption
					for any reason (off hours or amount).
				</p>
				<p>
					<strong>Set the managerial override code</strong>
					<input type="text" name="redcode" id="my_mgrcode" class="form-control" [(ngModel)]="organization.mgrOverRide" (ngModelChange)="onChange()"/>
				</p>

			</div>
		</div><!-- end of valid to row-->

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<p class="instructions">
					Finally, GiveShare recommends excluding the offer from specified busy times (ie Friday night).  This can help you to drive business
					through your doors during non-peak times if you want to. However, you can allow the offer
					to be valid at all times by clicking the button to the right.
				</p>

				<div class="row">
					<div class="col-sm-6">
						<div class="radiobutton">
							<label for="my_radio_button_id">Valid specific hours</label>
							<input type="radio" name="radio" id="my_radio_button_id"
								   [(ngModel)]="organization.specifyHours" [value]="true" (click)="specify()" (ngModelChange)="onChange()"/>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="radiobutton">
							<label for="my_radio_button_id3">Valid all operating hours</label>
							<input type="radio" name="radio" id="my_radio_button_id3"
								   [(ngModel)]="organization.specifyHours" [value]="false" (click)="allday()" (ngModelChange)="onChange()"/>
						</div> <!--radio button-->
					</div><!--col for always send-->
				</div>
			</div>
		</div>

		<div class="row"> <!--create a row for valid to data-->
			<div class="col-sm-offset-9 col-sm-2">
				<button type="submit" class="btn btn-success blue-color" (click)="save()">Save</button> <!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
			</div>
		</div>
	</div>
</div>
