<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="table">
				<thead>
					<tr>
						<th>Charity</th>
						<th></th>
						<th>Request</th>
						<th>Discount</th>
					</tr>
				</thead>
				<tbody>
					<ng-template ngFor let-campaign [ngForOf]="campaigns">
					<tr (click)="campaign.expanded = true" [ngClass]="{'expanded': campaign.expanded}">
						<td>{{campaign.charityName}}</td>
						<td><a href="mailto:{{campaign.pointOfContactEmail}}"><i class="fa fa-envelope"></i></a></td>
						<td>{{campaign.description.substring(0, 70)}} {{campaign.description.length > 70? '...': ''}}</td>
						<td>
							{{campaign.resultingAmount | currency:'USD':true}}
						</td>
					</tr>
					<tr *ngIf="campaign.expanded" [ngClass]="{'expanded-details': campaign.expanded}">
						<td colspan="4">
							{{campaign.description}}

							<p class="collapse-link">
								<a (click)="campaign.expanded = false">Hide</a>
							</p>
						</td>
					</tr>
					</ng-template>
					<tr *ngIf="!campaigns || !campaigns.length"><td colspan="4">You currently have no {{campaignStatus}} campaigns</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
