tr.expanded, tr.expanded t2 {
	border-bottom: 0;
}
tr.expanded td:nth-child(1) {
	font-weight: bold;
}
tr.expanded td:nth-child(2) {
	visibility: hidden;
}
tr.expanded-details, tr.expanded-details td {
	border-top: 0;
}
tr.expanded-details td p.collapse-link {
	margin-top: 15px;
}
