<style>
	.dowcheckboxes label {
		float: left;
	}
	.textarea {
		width: 100%;
		height: auto;
		padding: 5px;
		margin: 4px;
	}
	.unbold {
		font-weight: normal;
	}
	.labelength {
		width:50px;
	}
	.fineprint {
		font-size: 12px;
	}
	.dowcheckboxes ul {
		margin: 0;
		list-style: none;
		float: left;
	}
	.box {
		width: auto;
		/*height:200px;*/
		margin-top: 1px;
		padding: 12px 20px;
		border: 1px solid;
		border-color: black;
		align-content: center;

	}
	.insidebox {
		width: auto;
		min-height: 200px;
		height: auto;
		margin-top: 1px;
		padding: 12px 20px;
		border: 1px solid;
		border-color: white;
		align-content: center;

	}
	.choicebox {
		background-color: white;
	}
	.radiobutton {
		display: inline-block;
		text-align: center;

	}
	.radiobutton label {
		display: block;
	}
	.radiotext {
		display: block;
		text-align: center;
	}

	header {
		display: block;
	}
	.edit-users {
		background-color: gray;
		border-radius: 0px;
		color: black;

	}

	.lue-color {
		background-color: blue;
		border-radius: 0px;
		color: white;

	}

	.directions {
		text-align:center;
		font-size:16px;

	}
	.logo {
		width:150px;
		height:150px;
		margin-top: 30px;
	}

	.logo2 {
		width:150px;
		height:100px;
		margin-top: 40px;
	}
	.tcs {
		font-size: 12px;
		font-family: Calibri;
		color: black;}

	.welcome {
		font-size: 24px;
		font-family: Calibri;
		color: black;
		text-align: center;
		margin-top: 70px;
	}
</style>

<!-- start of HTML test code -->
<div class="container">
	<div class="row" *ngIf="saleslenhours">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
				<div class="col-sm-12">
					<p class="steps">Step <strong>4</strong> of 9</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<p class="instructions">Next we will set the <strong>default </strong>donation percentage.  This can be adjusted for any "customized" campaigns.
						You can also come back later to change your default amount.</p>
					<p> <strong> Percentage of Sales you want to donate </strong>
						<input type="number" min="0" step="1" max="100" class="days form-control"   [(ngModel)]="organization.discountAmount"
							   name="option-value" placeholder="10"/>
					</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-12">
					<p class="instructions"> How long do you want to run your default campaigns for?  This determines how long the coupon will be valid for.
						You can always come back and change the duration at any time,
						and all subsequent campaigns will absorb the new duration!</p>
					<p> <strong> Offer should remain valid for </strong>
						<input type="number" class="days form-control" min="1" step="1"   [(ngModel)]="organization.daysValid"
							   name="days-value"
							   placeholder="30"/>
						<label>  days after request</label></p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-12">
					<p class="instructions">
						A redemption code will be given to the customers by your team at the end of their transaction to validate the invitation (and prevent abuse).</p>
					<p><strong>Set the restaurant's redemption code</strong>
						<input type="text" name="redcode" id="my_redcode" class="form-control" [(ngModel)]="organization.redemptionCode"/>
					</p>

				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-12">
					<p class="instructions"> Set a threshhold for the amount that can be redeemed without managerial approval.  This
						is designed to prevent abuse or mistakes.</p>
					<p><strong>Ticket threshold</strong>
						<input type="text" name="redcode" id="my_thresh" class="form-control" [(ngModel)]="organization.threshHold"/>
					</p>

				</div>
			</div><!-- end of valid to row-->

			<hr>

			<div class="row">
				<div class="col-sm-12">
					<p class="instructions"> A managerial override code will be needed if the manager needs to override a blocked redemption
						for any reason (off hours or amount).</p>
					<p><strong>Set the managerial override code</strong>
						<input type="text" name="redcode" id="my_mgrcode" class="form-control" [(ngModel)]="organization.mgrOverRide"/>
					</p>

				</div>
			</div><!-- end of valid to row-->

			<hr>

			<div class="row">
				<div class="col-sm-12">
					<p class="instructions"> Finally, GiveShare recommends excluding the offer from specified busy times (ie Friday night).  This can help you to drive business
						through your doors during non-peak times if you want to. However, you can allow the offer
						to be valid at all times by clicking the button to the right.</p>

					<div class="row">
						<div class="col-sm-6">
							<div class="radiobutton">
								<label for="my_radio_button_id">Valid specific hours</label>
								<input type="radio" name="radio" id="my_radio_button_id"
									   [(ngModel)]="organization.specifyHours" [value]="true" (click)="specify()"/>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="radiobutton">
								<label for="my_radio_button_id3">Valid all operating hours</label>
								<input type="radio" name="radio" id="my_radio_button_id3"
									   [(ngModel)]="organization.specifyHours" [value]="false" (click)="allday()"/>
							</div> <!--radio button-->
						</div><!--col for always send-->
					</div>
				</div>
			</div>

			<div class="row"> <!--create a row for valid to data-->
				<div class="col-sm-offset-9 col-sm-2">
					<button type="submit" class="btn btn-success blue-color" (click)="saveConfiguration()">Next</button> <!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" *ngIf="sethours"> <!--create a 2nd 10 col row to add new request line-->
		<div class="col-sm-10 col-sm-offset-1">

			<div class="col-sm-12">
				<div class="button-group">
					<p class="steps">Step <strong>5</strong> of 9</p><br>
					<p class="instructions">Specify your valid from times below.  Note that if you want the coupon to be valid for an entire day,
						simply enter the opening hour and closing hour for the business that day.  To eliminate a day completely,
						leave all fields blank for that day.  Otherwise, you can set up to two time ranges per day.</p>
					<ul class="no-bullets">
						<li><label class="labelength">Sun  </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sun2ToTime"/></label>
						</li>
						<li><label class="labelength">Mon  </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Mon2ToTime"/></label>
						</li>
						<li><label class="labelength">Tue  </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Tue2ToTime"/></label>
						</li>
						<li><label class="labelength">Wed  </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Wed2ToTime"/></label>
						</li>
						<li><label class="labelength">Thur </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Thur2ToTime"/></label>
						</li>
						<li><label class="labelength">Fri  </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Fri2ToTime"/></label>
						</li>
						<li><label class="labelength">Sat  </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat1FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat1ToTime"/></label>
							<label class="unbold">as well as </label>
							<label class="unbold"> From <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat2FromTime"/></label>
							<label class="unbold"> To <input class="timelength form-control" type="time" [(ngModel)]="organization.Sat2ToTime"/></label>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 text-right">
				<button type="submit" class="btn blue-color" (click)="saveConfigurationH()">Save</button> <!-- need to add javascript here to execute all of the "checks" and error messaging for the above functionality!-->
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" *ngIf="coupon">
		<p class="steps">Step <strong>8</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p class="instructions">Below is the default content for the link that will be shared on social media,
				inviting people to join the cause and frequent {{organization.name}}.  You can accept as is, or edit it.</p>

			<div class="box">
				<p>{{organization.defOfferContent}}</p>
				<p class="fineprint">{{organization.offerTC}}</p>
				<p ngNonBindable class="fineprint">Offer expires <q>{{campaign-end}}</q></p>
				<!--<div class="box">-->
				<!--<form>-->
				<!--<label class="directions">Define your fineprint T&Cs for the mobile invitition request</label>-->
				<!--<textarea [(ngModel)]="organization.defOfferContent" [ngModelOptions]="{standalone: true}"-->
				<!--class="box insidebox"></textarea>-->

				<!--</form>-->
				<!--</div>&lt;!&ndash;div for form&ndash;&gt;-->
				<!--<br>-->
				<!--<p class="fineprint"><strong>Example of T&Cs - note this should match your probibited hours as closely as possible.</strong><br>-->
				<!--Offer valid Sun-Th excluding 11:30 - 1:30 TH and after 4:30 TH</p>-->
				<div class="row">
					<div class="col-sm-12 text-right">
						<button type="submit" class="btn btn-success" style="pointer-events: none;">Request</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<button type="submit" class="btn btn-success blue-color" (click)="editCoupon()">Edit</button>
				</div>
				<div class="col-sm-6 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveContent()">Accept</button>
				</div>
			</div>
		</div><!--div for form-->
		<!--<p>Note that using the {{charityname}} in the coupon template will convert to the campaign charity name in your actual coupons-->
		<!--as seen in the second example above.  Please do NOT use the "quotation marks" in your message, just the braces</p>-->

	</div><!--4 col table for default mobile message-->
</div>

<div class="container">
	<div class="row" *ngIf="edit">
		<p class="steps">Step <strong>8</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p ngNonBindable class="instructions">Edit your content below. Please note that you MUST use the existing format for any fields
				enclosed in double braces, ie
				<q>{{charity-name}}</q>. GiveShare will replace that with the charity's name in the email.</p>

			<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

			<div class="box">
				<textarea class="textarea" [(ngModel)]="organization.defOfferContent" [ngModelOptions]="{standalone: true}"></textarea>
				<!--<div class="box">-->
				<!--<form>-->
				<!--<label class="directions">Define your fineprint T&Cs for the mobile invitition request</label>-->
				<!--<textarea [(ngModel)]="organization.defOfferContent" [ngModelOptions]="{standalone: true}"-->
				<!--class="box insidebox"></textarea>-->

				<!--</form>-->
				<!--</div>&lt;!&ndash;div for form&ndash;&gt;-->
				<!--<br>-->
				<!--<p class="fineprint"><strong>Example of T&Cs - note this should match your probibited hours as closely as possible.</strong><br>-->
				<!--Offer valid Sun-Th excluding 11:30 - 1:30 TH and after 4:30 TH</p>-->

			</div>

			<div class="row">
				<div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveContent()">Save</button>
				</div>
			</div>
		</div><!--div for form-->
		<!--<p>Note that using the {{charityname}} in the coupon template will convert to the campaign charity name in your actual coupons-->
		<!--as seen in the second example above.  Please do NOT use the "quotation marks" in your message, just the braces</p>-->

	</div><!--4 col table for default mobile message-->
</div>

<div class="container">
	<div class="row" *ngIf="email">
		<p class="steps">Step <strong>6</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p class="instructions">Below is the default content for the email response that will be sent to the Charity.
				You can accept as is, or edit it.</p>

			<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

			<div class="box">
				<p>{{organization.defEmailContent}}</p>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<button type="submit" class="btn btn-success blue-color" (click)="editEmail()">Edit</button>
				</div>
				<div class="col-sm-6 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveEmail()">Accept</button>
				</div>
			</div>
		</div><!--4 col table for email message-->

	</div><!--end of 10 column table-->
</div>

<div class="container">
	<div class="row" *ngIf="editemail">
		<p class="steps">Step <strong>6</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p ngNonBindable class="instructions">Edit your content below. Please note that you MUST use the existing format for any field enclosed in
				double braces, ie <q>{{charity-name}}</q>. GiveShare will replace that with the charity's name in the email.</p>

			<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

			<div class="box">
				<textarea class="textarea" [(ngModel)]="organization.defEmailContent" [ngModelOptions]="{standalone: true}"></textarea>
				<!--<div class="box">-->
				<!--<form>-->
				<!--<label class="directions">Define your fineprint T&Cs for the mobile invitition request</label>-->
				<!--<textarea [(ngModel)]="organization.defOfferContent" [ngModelOptions]="{standalone: true}"-->
				<!--class="box insidebox"></textarea>-->

				<!--</form>-->
				<!--</div>&lt;!&ndash;div for form&ndash;&gt;-->
				<!--<br>-->
				<!--<p class="fineprint"><strong>Example of T&Cs - note this should match your probibited hours as closely as possible.</strong><br>-->
				<!--Offer valid Sun-Th excluding 11:30 - 1:30 TH and after 4:30 TH</p>-->
			</div>

			<div class="row">
				<div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveEmail()">Save</button>
				</div>
			</div>
		</div><!--div for form-->
		<!--<p>Note that using the {{charityname}} in the coupon template will convert to the campaign charity name in your actual coupons-->
		<!--as seen in the second example above.  Please do NOT use the "quotation marks" in your message, just the braces</p>-->

	</div><!--4 col table for default mobile message-->
</div>

<div class="container">
	<div class="row" *ngIf="invite">
		<p class="steps">Step <strong>9</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p class="instructions">Below is the default content for the email response that will be sent to the requesting supporter.
				You can accept as is, or edit your specific message to the supporter.</p>

			<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

			<div class="box">
				<p>{{organization.defEmailContentInvite}}</p>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<button type="submit" class="btn btn-success blue-color" (click)="editInvite()">Edit</button>
				</div>
				<div class="col-sm-6 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveInvite()">Accept</button>
				</div>
			</div>
		</div><!--4 col table for email message-->

	</div><!--end of 10 column table-->
</div>

<div class="container">
	<div class="row" *ngIf="editinvite">
		<p class="steps">Step <strong>9</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p ngNonBindable class="instructions">Edit your content below. Please note that you MUST use the existing format for any field enclosed in
				double braces, ie <q>{{charity-name}}</q>. GiveShare will replace that with the charity's name in the email.</p>

			<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

			<div class="box">
				<textarea class="textarea" [(ngModel)]="organization.defEmailContentInvite" [ngModelOptions]="{standalone: true}"></textarea>
				<div class="row">
					<div class="col-sm-12 text-right">
						<button type="submit" class="btn btn-success blue-color" (click)="saveInvite()">Save</button>
					</div>
				</div>
			</div><!--div for form-->
		<!--<p>Note that using the {{charityname}} in the coupon template will convert to the campaign charity name in your actual coupons-->
		<!--as seen in the second example above.  Please do NOT use the "quotation marks" in your message, just the braces</p>-->

		</div><!--4 col table for default mobile message-->
	</div>
</div>

<div class="container">
	<div class="row" *ngIf="TC">
		<p class="steps">Step <strong>7</strong> of 9</p><br>
		<div class="col-sm-6 col-sm-offset-3">
			<p class="instructions">Below is the default content for the Terms and Conditions that will be sent
				with the invite to the Charity.  Please edit this to reflect any prohibited hours or other restrictions.  This will be
				displayed on the offer.</p>

			<div class="box">
				<textarea class="textarea" [(ngModel)]="organization.offerTC" [ngModelOptions]="{standalone: true}"></textarea>
			</div><!--div for form-->

			<div class="row">
				<div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-success blue-color" (click)="saveTC()">Save</button>
				</div>
			</div>
		</div><!--4 col table for email message-->
	</div><!--end of 10 column table-->
</div>




