<div class='container'>
	<h2>Configure GiveShare</h2>

	<div class="row" *ngIf="responseOption">
		<h3>Set your response percentage reduction</h3>
		<div class="col col-md-3 form-group">
			<label>Percentage Reduction</label>
			<input type="number" class="form-control" [(ngModel)]="responseOption.discountAmount" name="option-value" />
		</div>
	</div>

	<div class="row">
		<h3>Set email responses</h3>
		<div class="instructions" ngNonBindable>
			<p>You can use any of the following placeholder codes in the body of your response to insert values in the email.

			<div class='placeholder'>Name of the charity point of contact: <span class='placeholder-val'>{{point-of-contact}}</span></div>
			<div class='placeholder'>Name of the charity <span class='placeholder-val'>{{charity-name}}</span></div>
			<div class='placeholder'>Restaurant name <span class='placeholder-val'>{{organization-name}}</span></div>
			<div class='placeholder'>Restaurant full address <span class='placeholder-val'>{{organization-address}}</span></div>
		</div>
		<div class="form-group" *ngFor="let template of templates">
			<label>{{template.name}}</label>
			<textarea [(ngModel)]="template.message" placeholder="Please enter your response message here" class="form-control"></textarea>
		</div>
	</div>
	<button (click)="saveConfiguration()" class="btn btn-primary">Save</button>
</div>
