<div>

	<h2>Links</h2>
	<p><a [routerLink]="['/profile', organization.id]">Edit Profile</a></p>
	<p><a [routerLink]="['/', organization.slug]">Landing Page</a></p>
	<p><a [routerLink]="['/configure', organization.id]">Configure Landing Page</a></p>
	<p><a [routerLink]="['/respond', organization.id]">Review/send response</a></p>
</div>
