<div class="row" *ngIf="!editemail">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="instructions">Below is the default content for the email response that will be sent to the Charity.
			You can leave it as is, or edit it.</p>

		<p class="instructions">Please note this default text assumes you have selected multiple redemptions. Please adjust as you see fit if only allowing single redemption.</p>

		<div class="box content-box">
			<p>{{organization.defEmailContent}}</p>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<button type="submit" class="btn btn-success blue-color" (click)="editEmail()">Edit</button>
			</div>
			<div class="col-sm-6 text-right">
				<button type="submit" class="btn btn-success blue-color" (click)="saveEmail()">Save</button>
			</div>
		</div>
	</div><!--4 col table for email message-->

</div><!--end of 10 column table-->

<div class="row" *ngIf="editemail">
	<div class="col-sm-6 col-sm-offset-3">
		<p ngNonBindable class="instructions">Edit your content below. Please note that you MUST use the existing format for any field enclosed in
			double braces, ie <q>{{charity-name}}</q>. GiveShare will replace that with the charity's name in the email.</p>

		<div class="box">
			<textarea class="textarea" [(ngModel)]="organization.defEmailContent" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()"></textarea>
			<!--<div class="box">-->
			<!--<form>-->
			<!--<label class="directions">Define your fineprint T&Cs for the mobile invitition request</label>-->
			<!--<textarea [(ngModel)]="organization.defOfferContent" [ngModelOptions]="{standalone: true}"-->
			<!--class="box insidebox"></textarea>-->

			<!--</form>-->
			<!--</div>&lt;!&ndash;div for form&ndash;&gt;-->
			<!--<br>-->
			<!--<p class="fineprint"><strong>Example of T&Cs - note this should match your probibited hours as closely as possible.</strong><br>-->
			<!--Offer valid Sun-Th excluding 11:30 - 1:30 TH and after 4:30 TH</p>-->
		</div>

		<div class="row">
			<div class="col-sm-12 text-right">
				<button type="submit" class="btn btn-success blue-color" (click)="saveEmail()">Save</button>
			</div>
		</div>
	</div><!--div for form-->
	<!--<p>Note that using the {{charityname}} in the coupon template will convert to the campaign charity name in your actual coupons-->
	<!--as seen in the second example above.  Please do NOT use the "quotation marks" in your message, just the braces</p>-->

</div><!--4 col table for default mobile message-->
