<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

<style>

	header {
		display: block;
	}

	.titles {
		text-align:center;
		color:green;
		font-size:24px;

	}
	.names {
		text-align:left;
		width: 137px;

	}
	.logo {
		width:150px;
		height:150px;
		margin-top: 30px;
	}
	.sales {
		font-size:11px;
		font-family: Calibri;
		color: black;
		text-align: center;
		vertical-align: middle;
		margin-bottom: 15px;
		word-break: break-all;
	}
	.logo2 {
		width:150px;
		height:100px;
		margin-top: 40px;
	}

	.smtxtbox {
		width: 135px;
		padding: 6px 12px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	.lgtxtbox {
		width: 280px;
		padding: 6px 12px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	.box {
		width: auto;
		height:auto;
		margin-top: 1px;
		padding: 12px 20px;
		border: 1px solid;
		border-color: black;

	}
	.sub {
		width: 60px;
		background-color: gray;
		font-size:12px;
		align-text: center;
		font-family: Calibri;
		color: black;
		padding: 7px 10px;
		margin: 2px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	.div {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
	}

	.welcome {
		font-size: 24px;
		font-family: Calibri;
		color: black;
		text-align: center;
		margin-top: 40px;
	}
</style>

<!-- start of HTML test code -->
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<thead>
			<tr>
				<th>Edit User</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Delete User?</th>
				<th>Email Recipient?</th>
			</tr>
			</thead>
			<!--need a separator line between the headers and content-->
			<tbody>
			<tr *ngFor="let user of userList">
				<td><a (click)="editUser(user)" title="Edit User" class="btn btn-default small"><i class="fa fa-pencil"></i> Edit</a></td>
				<td> {{user.email}}</td>
				<td> {{user.firstName}}</td>
				<td> {{user.lastName}}</td>

				<td><a class="btn btn-default" (click)="deleteUser(user)" title="Delete"><i class='fa fa-trash-o'></i></a></td>
				<td><input type="checkbox" name="email-{{user.id}}" (change)="updateUser(user)" [(ngModel)]="user.recEmail" ></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!--need to add separation bt the table and the form-->

	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<a class="btn btn-default" (click)="newUser()">+ Add User</a>
		</div>
	</div>

<div class="row" *ngIf="isEditing"><!--start of the user update fields form-->
	<div class="col-sm-12">
		<div class="edit-box box">
			<form class="form" (ngSubmit)="updateUser(userInfo)" #createForm="ngForm">

				<label class="names">First Name</label>
				<label>Last Name</label><br>

				<input class="smtxtbox" type="text" id="firstname" name="firstname" [(ngModel)]="userInfo.firstName" placeholder="">
				<input class="smtxtbox" type="text" id="lastname" name="lastname" [(ngModel)]="userInfo.lastName" placeholder=""><br><br>
				<label for="email">Email</label><br>
				<input class="lgtxtbox" type="text" id="email" name="email" [(ngModel)]="userInfo.email" placeholder="">
				<br>
				<label for="pword">Temporary Password</label><br>
				<input class="lgtxtbox" type="text" id="pword" name="pword" [(ngModel)]="userInfo.password" placeholder="">

				<input class="btn" type="submit" value="Update">
				<a class="btn cancel" (click)="cancelEdit()">Cancel</a>
			</form>
		</div>

	</div>
</div><!--row for email data-->
<div class="row" *ngIf="isNew"><!--start of the user update fields form-->
	<div class="col-sm-12">
		<div class="edit-box box">
			<form class="form" (ngSubmit)="createUser()" #createForm="ngForm">

				<label class="names">First Name</label>
				<label>Last Name</label><br>

				<input class="smtxtbox" type="text" id="Nfirstname" name="firstname" [(ngModel)]="userInfo.firstName" placeholder="">
				<input class="smtxtbox" type="text" id="Nlastname" name="lastname" [(ngModel)]="userInfo.lastName" placeholder=""><br><br>
				<label for="email">Email</label><br>
				<input class="lgtxtbox" type="text" id="Nemail" name="email" [(ngModel)]="userInfo.email" placeholder="">
				<br>
				<label for="pword">Temporary Password</label><br>
				<input class="lgtxtbox" type="text" id="Npword" name="pword" [(ngModel)]="userInfo.password" placeholder="">

				<input class="btn" type="submit" value="Add User">
				<a class="btn cancel" (click)="cancelEdit()">Cancel</a>
			</form>
		</div>

	</div>
</div><!--row for email data-->
</div>
