<div class="container">
	<div class="row">
	<div class="col-xs-12 card card-container">
		<form class="form" (ngSubmit)="createUser()" #createForm="ngForm">
			<h3>User Creation</h3>
			<div *ngIf="!isLoggedIn()" class="row">
				<div class="form-group col-sm-6">
					<label for="inputFirst">First Name*</label>
					<input type="text" id="inputFirst" name="firstname" [(ngModel)]="userInfo.firstName"
						class="form-control" placeholder="First Name" [required]="!isLoggedIn() ? 'required' : null">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputLast">Last Name*</label>
					<input type="text" id="inputLast" name="lastname" [(ngModel)]="userInfo.lastName"
						placeholder="Last Name" class="form-control" [required]="!isLoggedIn() ? 'required' : null">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputEmail">Email*</label>
					<input type="email" id="inputEmail" name="email" [(ngModel)]="userInfo.email"
						class="form-control" placeholder="Email address" [required]="!isLoggedIn() ? 'required' : null">
				</div>
				<div class="form-group col-sm-6">
					<label for="inputPassword">Password*</label>
					<input type="password" id="inputPassword" name="password" [(ngModel)]="userInfo.password"
						placeholder="Password" class="form-control" [required]="!isLoggedIn() ? 'required' : null">
				</div>
			</div>
			<p *ngIf="isLoggedIn()">Currently logged in.  Any newly created organizations will be attached to this account.</p>

			<h3>Organization Creation</h3>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="orgName">Business Name*</label>
					<input type="text" id="orgName" name="orgName" [(ngModel)]="organization.name"
						   placeholder="Organization" class="form-control" required>
				</div>
				<div class="form-group col-sm-6">
					<label for="orgAddress">Address*</label>
					<input type="text" id="orgAddress" name="orgAddress" [(ngModel)]="organization.address"
						   placeholder="Address" class="form-control" required>
				</div>
				<div class="form-group col-sm-5">
					<label for="orgCity">City*</label>
					<input type="text" id="orgCity" name="orgCity" [(ngModel)]="organization.city"
						   placeholder="City" class="form-control" required>
				</div>
				<div class="form-group col-sm-3">
					<label for="orgState">State*</label>
					<input type="text" id="orgState" name="orgState" [(ngModel)]="organization.state"
						   placeholder="State" class="form-control" required>
				</div>
				<div class="form-group col-sm-4">
					<label for="orgZIP">ZIP Code*</label>
					<input type="text" id="orgZIP" name="orgZIP" [(ngModel)]="organization.zip"
						   placeholder="ZIP" class="form-control" required>
				</div>
			</div>
			<p>* - required</p>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create Account</button>
		</form><!-- /form -->
	</div><!-- /card-container -->
	</div><!-- /card-container -->
</div><!-- /container -->
