/deep/ .radiobutton {
	display: inline-block;
	text-align: center;
	height: 15px;
	width: 100%;

}

/deep/ .radiobutton label {
	display: block;
}

/deep/ .content-box {
	padding: 10px;
	border: 1px solid #333;
}


input {
	/*width: 5%;*/
	border-color: black;
	text-align: center;
}

.nav-links {
	padding-top: 5px;
}

.nav-links.disabled a {
	cursor: default;
	pointer-events: auto;
}

.step-button-wrapper .btn {
	margin-bottom: 5px;
}