<!-- create all remaining objects from here-->
<div class="container">
	<h2 *ngIf="currentStep > -1 && !this.organization.setupComplete" class="text-center">Step <strong>{{currentStep + 1}}</strong> of {{setupService.getPages().length}}</h2>
	<div *ngIf="currentStep === -1">
		<h2>Get started configuring</h2>
		<a class="button" routerLink="offer-options">Set Offer Options</a>
	</div>
	<router-outlet></router-outlet>

	<!--<div class="row nav-links" *ngIf="currentStep > -1 && !this.organization.setupComplete" [ngClass]="{'disabled': pageIsDirty}">-->
		<!--<div class="col col-sm-6 text-center">-->
			<!--<div class="step-button-wrapper" *ngIf="canShowPrev()">-->
				<!--<a class="btn btn-primary" (click)="goBack()" [ngClass]="{'disabled': pageIsDirty}">Back</a>-->
				<!--<p>{{getBackText()}}</p>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col col-sm-6 text-center">-->
			<!--<div class="step-button-wrapper" *ngIf="canShowNext()">-->
				<!--<a class="btn btn-primary" (click)="goNext()" [ngClass]="{'disabled': pageIsDirty}">Next</a>-->
				<!--<p>{{getNextText()}}</p>-->
			<!--</div>-->

			<!--<div class="step-button-wrapper" *ngIf="!canShowNext()">-->
				<!--<a class="btn btn-primary" (click)="goHome()" [ngClass]="{'disabled': pageIsDirty}">Finish</a>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
</div>
