p {
	line-height: 2em;
}

.block-button {
	font-size: 1.5em;
	width: 200px;
	line-height: normal;
}

.has-background-image {
	background-position: center;
	background-size: cover;
	position: relative;
}
.has-background-image:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.5);
}

.website-container > .row {
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

#page-body-row {
	padding: 0;
}

#hero-row {
	background-image: url('/assets/hero-image.jpg');
	padding-top: 250px;
	padding-bottom: 250px;
}
#hero-row h3 {
	line-height: 1.5em;
}
#hero-row .button {
	font-size: 1.5em;
	line-height: normal;
	width: 350px;
}


#company-logos-row {

}
@media (min-width: 768px) {
	.company-logo-list {
		display: flex;
		align-content: center;
		justify-content: space-between;
	}
}
.company-logo-list > div {
	margin: 0 15px;
	flex: auto;
	display: flex;
	align-items: center;
}
.company-logo-list img {
	max-width: 100%;
	width: auto;
	height: auto;
	margin: 15px auto;
	max-height: 150px;
}


#quote-row {

}
#quote-row p {
	font-size: 1.5em;
}


#highlights-row {
	padding-top: 0;
}
#highlights-row i {
	font-size: 7em;
	color: #dd2222
}


#discover-row {

}
#discover-row p {
	font-size: 1.5em;
}


#details-row {
	background-image: url('/assets/bg-countertop.jpg');
}


#points-row {

}
#points-row .points-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
#points-row .points-list li {
	background-color: #fff;
	border: 3px solid #333;
	padding: 25px;
	position: relative;
	margin: 35px 0 0 35px;
	border-radius: 5px;
}
@media (min-width: 992px) {
	#points-row .points-list li {
		display: inline-block;
		width: 45%;
		vertical-align: top;
	}
}
#points-row .points-list span {
	background-color: #dd2222;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;

	position: absolute;
	left: -25px;
	top: -25px;
}
#points-row .points-list h3 {
	font-size: 1.3em;
	text-align: left;
	margin-top: 0;
}
#points-row .points-list p {
	font-size: 1.15em;
	text-align: left;
	margin-bottom: 0;
}

#creation-row {
	background-image: url('/assets/bg-suit.jpg');
}

#pricing-intro-row {

}

#purchase {
	padding-top: 0;
}
#purchase .price-col {
	border-radius: 5px;
	margin: 0 30px;
	padding: 30px;
}


#contact-row {
	padding-top: 0;
}


@media (min-width: 768px) {
	#purchase > .container > .row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
