<div class="container-fluid website-container">
	<div id="hero-row" class="row dark has-background-image">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Fundraising Made Simple</h1>
					<h3>An online tool that helps your bottom line, your community image, and your to-do list.</h3>
					<a routerLink="/create" [queryParams]="{subscription: 'risk-free'}" class="button block-button">Try Risk Free for $1</a>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="showLogos" id="company-logos-row" class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="company-logo-list">
						<div>
							<img src="../../assets/151.jpg" alt="GiveShare Logo"/>
						</div>
						<div>
							<img src="../../assets/pepes-restaurant--lounge-lounges-ct.png" alt="GiveShare Logo"/>
						</div>
						<div>
							<img src="https://placehold.it/120x40" alt="Company Logo"/>
						</div>
						<div>
							<img src="https://placehold.it/150x90" alt="Company Logo"/>
						</div>
						<div>
							<img src="https://placehold.it/150x60" alt="Company Logo"/>
						</div>
						<div>
							<img src="https://placehold.it/250x120" alt="Company Logo"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="quote-row" class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Use your weekly slow periods to help charities fundraise</h2>
					<h3>You control the times it’s valid & the % you’d like to donate</h3>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="showPics" id="highlights-row" class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<i class="highlight-icon fa fa-money"></i>
					<h3>Increase Sales</h3>
					<p>The charities spread the word about their fundraiser, you only donate to them out of a % of revenue their supporters brought in.</p>
				</div>

				<div class="col-sm-4">
					<i class="highlight-icon fa fa-handshake-o"></i>
					<h3>Boost Your Community Image</h3>
					<p>Since GiveShare is like a commission for the charity, you can say “Yes” to every fundraising request making you the community hero.</p>
				</div>

				<div class="col-sm-4">
					<!--<i class="highlight-icon fa fa-glass"></i>-->
					<img src="/assets/drink-icon-red.png" class="highlight-icon">
					<h3>Less Busy Work</h3>
					<p>It’s like a personal assistant to manage your fundraisers, GiveShare gets the charities all the info they need, according to your preferences.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="details-row" class="row dark has-background-image">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Charities bring their supporter in during your slow periods as a fundraiser</h3>
					<h2>You only donate a % of real sales</h2>
					<h3>You get to say yes to every charity, but they still have to get butts in seats to raise money</h3>
				</div>
			</div>
		</div>
	</div>

	<div id="points-row" class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>How GiveShare Works In 8 Points</h2>

					<ul class="points-list">
						<li>
							<span>1</span>
							<h3>Easy Setup (5 min)</h3>
							<p>Tell us your slow times, the % you’d like to donate during those times, and how long you’d like each fundraiser to run.</p>
						</li>
						<li>
							<span>2</span>
							<h3>Direct Charities to Submit their Info Online</h3>
							<p>We create you a landing page for you and your staff to direct all donation requests to for easy organization.</p>
						</li>
						<li>
							<span>3</span>
							<h3>We Follow Up With Them For You</h3>
							<p>When a charity submits their info online, they automatically receive an email telling them how GiveShare works.</p>
						</li>
						<li>
							<span>4</span>
							<h3>The Charity Promotes the Event</h3>
							<p>They learn how GiveShare works and post to all their social networks about how great you are for hosting their fundraiser.</p>
						</li>
						<li>
							<span>5</span>
							<h3>No Need to Print Out Flyers</h3>
							<p>If their supports would like to participate, they click the link and enter their email to receive the fundraiser invitation.</p>
						</li>
						<li>
							<span>6</span>
							<h3>Easy Redemption (No POS Integration)</h3>
							<p>When supporters come to visit during the valid hours, the transaction is tracked right through the supporter’s phone.</p>
						</li>
						<li>
							<span>7</span>
							<h3>Always Know What’s Happening</h3>
							<p>You can see the sales charities are bringing in for you in real-time on your GiveShare dashboard.</p>
						</li>
						<li>
							<span>8</span>
							<h3>Only Donate Out of Real Sales</h3>
							<p>Since GiveShare is like a commission for charities, you only donate when they bring in supporters.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="creation-row" class="row dark has-background-image">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Created by restaurant owners, for themselves</h2>
					<h3>But now they are ready to share it with the world…</h3>
				</div>
			</div>
		</div>
	</div>

	<div id="pricing-intro-row" class="row">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p>Risk-Free Guarantee: We call you after 30 days, if you’re not satisfied, we give you your money back.</p>
					<p>No contracts. EVER.</p>
				</div>
			</div>
		</div>
	</div>
</div>
