<div class="container-fluid website-container">
	<div id="hero-row" class="row has-background-image">
		<div class="container">
			<div class="row" *ngIf="!showAnswers">
				<div class="col-sm-12">
					<h1 class="text-center">Calculate GiveShare's Value</h1>

					<form (submit)="calculate()" class="form-horizontal">

						<div class="form-group">
							<label class="col-md-8" for="business-type">
								What type of business are you?
							</label>
							<div class="col-md-2">
								<select class="form-control" id="business-type" [(ngModel)]="business" [ngModelOptions]="{standalone: true}">
									<option [ngValue]="0" [selected]>Restaurant</option>
									<option [ngValue]="1">Entertainment (golf course, movie theatre, et al)</option>
									<option [ngValue]="2">Services (chiropractor, dentist, salon, et all)</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-8">
								How many donation requests do you receive per month?
								<a href="javascript:void(0)" tooltip="On average how many donation requests do you receive in an average month?" triggers="focus">
									<i class="fa fa-question-circle"></i>
								</a>
							</label>
							<div class="col-md-2">
								<input class="form-control" type="number" name="requests" [(ngModel)]="answers.requests"
									   placeholder="10" min="0" step="1"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-8">Approximately what percentage do you say "yes" to?</label>
							<div class="col-md-2">
								<input class="form-control" type="number" name="grants" [(ngModel)]="answers.grants"
									   placeholder="40" min="0" max="100" step="1"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-8">For those you say "yes" to, what dollar amount do you give them in
								giftcards?</label>
							<div class="col-md-2">
								<input class="form-control" type="number" name="giftcards" [(ngModel)]="answers.giftcards"
									   placeholder="15" min="0"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-8">What is the average spend per customer?</label>
							<div class="col-md-2">
								<input class="form-control" type="number" name="avgCover" [(ngModel)]="answers.avgCover"
									   placeholder="25" min="0"/>
							</div>
						</div>

						<button type="submit" class="button block-button">Calculate</button>
					</form>
				</div>
			</div>
			<div class="row" *ngIf="showAnswers">
				<div class="col-sm-12">
					<h1 class="text-center">Total Value: {{totalValue|currency:'USD':true}}</h1>
				</div>
			</div>
			<div class="row" *ngIf="showAnswers">
				<div class="col-md-6">
					<h2 class="text-center">Hard Values</h2>
					<p>
						Giftcard savings:
						<span class="pull-right">{{giftcardSavings|currency:'USD':true}}</span>
						<a (click)="showGiftcardCalc=!showGiftcardCalc"><i class="fa fa-question-circle"></i></a>
					</p>
					<p class="text-muted small" *ngIf="showGiftcardCalc && business=='0'">
						Represents the Cost of Goods associated with the gift cards you are donating - assumes {{PERCENTAGE_OF_COGS|percent}} of the GC value.
					</p>
					<p class="text-muted small" *ngIf="showGiftcardCalc && business=='1'">
						Represents the Cost of Goods associated with the gift cards you are donating - assumes {{PERCENTAGE_OF_COGS|percent}} of the GC value.
					</p>
					<p class="text-muted small" *ngIf="showGiftcardCalc && business=='2'">
						Represents the Cost of Goods associated with the gift cards you are donating - assumes {{PERCENTAGE_OF_COGS|percent}} of the GC value.
					</p>

					<!---------------------->

					<p>
						New Business:
						<span class="pull-right">{{newBusiness|currency:'USD':true}}</span>
						<a (click)="showNewBusinessCalc=!showNewBusinessCalc"><i class="fa fa-question-circle"></i></a>
					</p>
					<p class="text-muted small" *ngIf="showNewBusinessCalc && business=='0'">
						Assumes one couple participates per campaign.
					</p>
					<p class="text-muted small" *ngIf="showNewBusinessCalc && business=='1'">
						Assumes 4 participating customers per campaign.
					</p>
					<p class="text-muted small" *ngIf="showNewBusinessCalc && business=='2'">
						Assumes one couple participates per campaign.
					</p>
				</div>
				<div class="col-md-6">
					<h2 class="text-center">Soft Values</h2>
					<p>
						Value of not having to say "No":
						<span class="pull-right">{{valueOfNoNo|currency:'USD':true}}</span>
						<a (click)="showValueOfNoNoCalc=!showValueOfNoNoCalc"><i class="fa fa-question-circle"></i></a>
					</p>
					<p class="text-muted small" *ngIf="showValueOfNoNoCalc && business=='0'">
						Assumes you (the owner) would spend $1 for each time you had to say "no" if the customer left happy.
					</p>
					<p class="text-muted small" *ngIf="showValueOfNoNoCalc && business=='1'">
						Assumes you (the owner) would spend $1 for each time you had to say "no" if the customer left happy.
					</p>
					<p class="text-muted small" *ngIf="showValueOfNoNoCalc && business=='2'">
						Assumes you (the owner) would spend $1 for each time you had to say "no" if the customer left happy.
					</p>

					<!---------------------->

					<p>
						Value of emails captures:
						<span class="pull-right">{{valueOfEmailCapture|currency:'USD':true}}</span>

						<a (click)="showEmailCalc=!showEmailCalc"><i class="fa fa-question-circle"></i></a>
					</p>
					<p class="text-muted small" *ngIf="showEmailCalc && business=='0'">
						Assumes historical everage of 23 emails per campaign at industry purchase price of $0.87.
					</p>
					<p class="text-muted small" *ngIf="showEmailCalc && business=='1'">
						Assumes historical everage of 23 emails per campaign at industry purchase price of $0.87.
					</p>
					<p class="text-muted small" *ngIf="showEmailCalc && business=='2'">
						Assumes historical everage of 23 emails per campaign at industry purchase price of $0.87.
					</p>

					<!---------------------->

					<p>
						Value of free goodwill:
						<span class="pull-right">{{freeGoodwill|currency:'USD':true}}</span>
						<a (click)="showFreeGoodwillCalc=!showFreeGoodwillCalc"><i class="fa fa-question-circle"></i></a>
					</p>
					<p class="text-muted small" *ngIf="showFreeGoodwillCalc && business=='0'">
						Assumes the value of a charity's positive post about your business replaces $13.46 in marketing budget.
					</p>
					<p class="text-muted small" *ngIf="showFreeGoodwillCalc && business=='1'">
						Assumes the value of a charity's positive post about your business replaces $13.46 in marketing budget.
					</p>
					<p class="text-muted small" *ngIf="showFreeGoodwillCalc && business=='2'">
						Assumes the value of a charity's positive post about your business replaces $13.46 in marketing budget.
					</p>

					<!---------------------->

					<p>
						Value of new customer acquisition:
						<span class="pull-right">{{newCustomerAcquisition|currency:'USD':true}}</span>
						<a (click)="showNewCustCalc=!showNewCustCalc"><i class="fa fa-question-circle"></i></a>
					</p>
					<p class="text-muted small" *ngIf="showNewCustCalc && business=='0'">
						Based on industry standards as seen below:
						<a target="_blank" href="https://www.stlmag.com/dining/Ask-George-What-Constitues-a-Restaurant-Regular/">St. Louie Magazine</a>
						and
						<a target="_blank" href="https://www.klipfolio.com/resources/kpi-examples/saas-metrics/customer-lifetime-value-to-customer-acquisition-ratio">Klipfolio</a>
					</p>
					<p class="text-muted small" *ngIf="showNewCustCalc && business=='1'">
						Assumes one new customer acquired per campaign:
						<a target="_blank" href="https://patientnews.com/about-us/blog/what-should-i-pay-new-dental-patient">Patient News</a>
						and
						<a target="_blank" href="https://lexicata.com/blog/how-to-measure-the-client-acquisition-cost-for-a-law-firm/">Lexicata</a>
					</p>
					<p class="text-muted small" *ngIf="showNewCustCalc && business=='2'">
						Based on industry standards as seen below:
						<a target="_blank" href="https://www.stlmag.com/dining/Ask-George-What-Constitues-a-Restaurant-Regular/">St. Louie Magazine</a>
						and
						<a target="_blank" href="https://www.klipfolio.com/resources/kpi-examples/saas-metrics/customer-lifetime-value-to-customer-acquisition-ratio">Klipfolio</a>
					</p>
				</div>
			</div>
			<div class="row" *ngIf="showAnswers">
				<div class="col-sm-4 col-sm-offset-2 col-lg-3 col-lg-offset-3">
					<a href="https://calendly.com/giveshare" target="_blank" class="button block-button" style="width: 250px;">Schedule A Call</a>
				</div>
				<div class="col-sm-4 col-lg-3">
					<a routerLink="/create" [queryParams]="{subscription: 'risk-free'}" class="button block-button" style="width: 250px;">Try Risk Free for $1</a>
				</div>
			</div>
		</div>
	</div>
</div>
